<template>
    <div role="tabpanel" class="tab-pane active" id="message">
        <!-- @if(Session::has('purpose'))
        <div class="alert alert-success">
            {{ Session::get("purpose") }}
        </div>
        @endif -->

        <!--ShownMessage-->
        <errors :errors="errors" />
        <form method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Name :</label>
                <div class="col-sm-9">
                    <input
                        id="name"
                        data-minlength="5"
                        type="text"
                        class="form-control form-control-xs"
                        v-model="form.name"
                        placeholder="Type your name"
                        required
                    />
                </div>
            </div>
            <!--name-->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="email"
                    >Email :</label
                >
                <div class="col-sm-9">
                    <input
                        id="email"
                        type="email"
                        class="form-control form-control-xs"
                        v-model="form.email"
                        placeholder="Type your email"
                        required
                    />
                </div>
            </div>
            <!--Email-->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="subject"
                    >Subject:</label
                >
                <div class="col-sm-9">
                    <input
                        id="subject"
                        type="text"
                        class="form-control form-control-xs"
                        v-model="form.subject"
                        placeholder="Type your subject"
                        required
                    />
                </div>
            </div>
            <!--Subject-->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="msg">Msg :</label>
                <div class="col-sm-9">
                    <textarea
                        id="msg"
                        name="desc"
                        class="form-control"
                        placeholder="Type Message"
                        required
                        v-model="form.desc"
                    >
                    </textarea>
                </div>
            </div>
            <!--Message-->

            <!-- <div class="form-group">
                <div class="col-sm-9">
                    <input
                        type="hidden"
                        name="product_id"
                        id="humanAnswer"
                        value="{{$product->id}}"
                    />
                    <input
                        type="hidden"
                        name="user_id"
                        value="{{$product->user_id}}"
                    />
                </div>
            </div> -->
            <!--answer-->
            <label
                >I agree to
                <a href="blog/terms-of-use" target="_blank"> Terms of Use</a>
                and
                <a href="blog/privacy-policy" target="_blank"
                    >Privacy Policy.</a
                ></label
            >
            <input type="hidden" name="submit" value="send_message" />
            <button
                class="btn btn-primary btn-block btn-sm sharp btn-style-one"
                name="send_message"
                value="send_message"
                type="button"
                @click="sendMessage"
                :disabled="sending"
            >
                {{ sending ? "Sending ..." : "Send Message" }}
            </button>
        </form>
    </div>
</template>
<script>
export default {
    props: {
        product: {
            type: Object,
            required: true
        }
    },
    methods: {
        sendMessage() {
            this.sending = true;
            this.errors = {};
            axios({
                url: "/contact-store",
                data: this.form,
                method: "post"
            })
                .then(resp => {})
                .catch(e => {
                    if (e?.response?.data) {
                        console.log(e.response.data);
                        this.errors = e.response.data.errors;
                        this.$notify({
                            type:'error',
                            group: "foo",
                            title: "Validation Error",
                            text: e.response.data.message
                        });
                    }
                })
                .finally(() => {
                    this.sending = false;

                });
        }
    },
    data: function() {
        return {
            form: {
                name: "",
                email: "",
                subject: "",
                desc: `Hi, I'm interested in ${this.$props.product.name}. Is this still available? Cheers`,
                product_id: this.$props.product.id,
                user_id: this.$props.product.user_id
            },
            errors: {},
            sending: false
        };
    }
};
</script>
