div.notification-title,
div.notification-content{
    color:white
}
#map-canvas {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
