<template>
  <form
    class="form-horizontal"
    role="form"
    id="primaryPostForm"
    method="POST"
    data-toggle="validator"
    enctype="multipart/form-data"
  >
    <notifications group="foo" />
    <h4 class="text-uppercase border-bottom">Submit Ad</h4>

    <div class="form-main-section post-detail">
      <div class="form-group">
        <label class="col-sm-3 text-left flip" for="title"
          >Ad Category : <span>*</span></label
        >
        <div class="col-sm-9">
          <v-select
            :options="categories"
            v-if="categories"
            v-model="form.category_id"
            label="name"
            placeholder="Select Category"
            required
            :reduce="(c) => c.id"
            @input="
              validate('category_id');
              form.sub_category_id = null;
            "
          ></v-select>

          <!-- <span v-if="errors.name" class="help-block with-errors">
            <strong>Errors Here</strong>
          </span> -->
          <div v-if="errors.category_id" class="help-block with-errors">
            {{ errors.category_id }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 text-left flip" for="title"
          >Ad Sub Category : <span>*</span></label
        >
        <div class="col-sm-9">
          <v-select
            :options="subCat"
            v-if="subCat"
            v-model="form.sub_category_id"
            label="name"
            placeholder="Select Sub Category"
            required
            :reduce="(c) => c.id"
            @input="validate('sub_category_id')"
          ></v-select>

          <!-- <span v-if="errors.name" class="help-block with-errors">
            <strong>Errors Here</strong>
          </span> -->
          <div v-if="errors.sub_category_id" class="help-block with-errors">
            {{ errors.sub_category_id }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 text-left flip" for="title"
          >Ad title : <span>*</span></label
        >
        <div class="col-sm-9">
          <input
            v-model="form.name"
            type="text"
            class="form-control form-control-md"
            placeholder="Ad title goes here"
            @input="validate('name')"
            required
          />

          <div class="help-block with-errors" v-if="errors.name">
            {{ errors.name }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 text-left flip" for="description"
          >Ad description : <span>*</span></label
        >
        <div class="col-sm-9">
          <textarea
            id="desc"
            class="form-control"
            required
            v-model="form.desc"
            @input="validate('desc')"
          ></textarea>
          <!-- <span v-if="errors.desc" class="help-block with-errors">
            <strong>Errors Here</strong>
          </span> -->
          <div class="help-block with-errors" v-if="errors.desc">
            {{ errors.desc }}
          </div>
        </div>
      </div>
      <div
        class="form-group"
        v-if="basicAdPostingData && basicAdPostingData.adType"
      >
        <label class="col-sm-3 text-left flip" for="description"
          >Type Of Ad : <span>*</span></label
        >
        <div class="col-sm-9">
          <div class="radio">
            <template v-for="value in basicAdPostingData.adType">
              <input
                :id="value.name"
                :value="value.id"
                type="radio"
                :key="'radio_' + value.id"
                v-model="form.adtype_id"
                @change="validate('adtype_id')"
              />
              <label :key="'label_' + value.id" :for="value.name">{{
                value.name
              }}</label>
            </template>
          </div>

          <!-- <span v-if="errors.desc" class="help-block with-errors">
            <strong>Errors Here</strong>
          </span> -->
          <div v-if="errors.adtype_id" class="help-block with-errors">
            {{ "This field is required" }}
          </div>
        </div>
      </div>
      <div
        class="form-group"
        v-if="basicAdPostingData && basicAdPostingData.priceType"
      >
        <label class="col-sm-3 text-left flip" for="description"
          >Price Type : <span>*</span></label
        >
        <div class="col-sm-9">
          <div class="radio">
            <template v-for="value in basicAdPostingData.priceType">
              <input
                :id="value.name"
                :value="value.id"
                type="radio"
                :key="'radio_pricetype_' + value.id"
                v-model="form.pricetype_id"
                @change="validate('pricetype_id')"
              />
              <label :key="'label_' + value.id" :for="value.name">{{
                value.name
              }}</label>
            </template>
          </div>

          <!-- <span v-if="errors.desc" class="help-block with-errors">
            <strong>Errors Here</strong>
          </span> -->
          <div v-if="errors.pricetype_id" class="help-block with-errors">
            {{ "This field is required" }}
          </div>
        </div>
      </div>
      <div
        class="form-group"
        v-if="basicAdPostingData && basicAdPostingData.conditions"
      >
        <label class="col-sm-3 text-left flip" for="description"
          >Condition : <span>*</span></label
        >
        <div class="col-sm-9">
          <div class="radio">
            <template v-for="value in basicAdPostingData.conditions">
              <input
                :id="value.name"
                :value="value.id"
                type="radio"
                :key="'radio_conditions_' + value.id"
                v-model="form.condition_id"
                @change="validate('condition_id')"
              />
              <label :key="'label_' + value.id" :for="value.name">{{
                value.name
              }}</label>
            </template>
          </div>

          <!-- <span v-if="errors.desc" class="help-block with-errors">
            <strong>Errors Here</strong>
          </span> -->
          <div v-if="errors.condition_id" class="help-block with-errors">
            {{ "This field is required" }}
          </div>
        </div>
      </div>
      <div class="form-group classiera_hide_price">
        <label class="col-sm-3 text-left flip">Ad price : <span>*</span></label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="currency__symbol"> Rs. </span>
                </div>
                <input
                  type="number"
                  name="price"
                  v-model="form.price"
                  class="form-control form-control-md"
                  placeholder="Sale price"
                  data-error="Price field is required."
                  required
                  @input="validate('price')"
                />
              </div>
              <div v-if="errors.price" class="help-block with-errors">
                {{ errors.price }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="currency__symbol"> Rs. </span>
                </div>
                <input
                  type="number"
                  v-model="form.gr_price"
                  class="form-control form-control-md"
                  placeholder="Regular price"
                  @input="validate('gr_price')"
                />
              </div>
              <div v-if="errors.gr_price" class="help-block with-errors">
                {{ errors.gr_price }}
              </div>
            </div>
            <div
              class="col-sm-12"
              v-if="
                selectedCategory &&
                selectedCategory.pricelabels &&
                selectedCategory.pricelabels.length > 0
              "
            >
              <br />
              <v-select
                placeholder="Select Price Label"
                v-model="form.pricelabel_id"
                :options="selectedCategory.pricelabels"
                label="name"
                :reduce="(c) => c.id"
                @input="validate('pricelabel_id')"
              />
            </div>
          </div>

          <div v-if="errors.pricelabel_id" class="help-block with-errors">
            {{ errors.pricelabel_id }}
          </div>
        </div>
      </div>
      <div class="form-group classiera_hide_price">
        <label class="col-sm-3 text-left flip">Quantity: <span>*</span></label>
        <div class="col-sm-9">
          <div class="form-inline row">
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="currency__symbol"> Qty </span>
                </div>
                <input
                  type="number"
                  v-model="form.quantity"
                  class="form-control form-control-md"
                  placeholder="quantity"
                  data-error="Quantity is required"
                  required
                  @input="validate('quantity')"
                />
              </div>
            </div>
          </div>
          <div class="help-block with-errors" v-if="errors.quantity">
            {{ errors.quantity }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 text-left flip">
          Offering : <span>*</span>
        </label>
        <div class="col-sm-9">
          <div class="radio">
            <input
              id="allowbid"
              value="1"
              type="radio"
              v-model="form.bid"
              data-error="Choose one Option type"
              required
            />
            <label for="allowbid"
              >Allow users to use offering on this ad.</label
            >
            <input
              id="disallowbid"
              value="0"
              type="radio"
              v-model="form.bid"
              data-error="Choose one
            option type"
              required
            />
            <label for="disallowbid">Disallow offers from this ad.</label>
          </div>

          <div class="help-block with-errors"></div>
          <div class="help-block">
            From here you can disable user offering service option on your
            current ad.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 text-left flip">Your Phone/Mobile :</label>
        <div class="col-sm-9">
          <div class="form-inline row">
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fas fa-mobile-alt"></i>
                </div>
                <input
                  type="number"
                  v-model="form.cell"
                  class="form-control form-control-md"
                  placeholder="Enter your phone number or Mobile number"
                />
              </div>
            </div>
          </div>
          <div class="help-block">
            Its Not required, but if you will put phone here then it will show
            publicly
          </div>
        </div>
      </div>
    </div>

    <div class="classieraExtraFields" style="display: none"></div>
    <div class="form-main-section extra-fields wrap-content cat-5">
      <h4
        v-if="
          selectedCategory &&
          selectedCategory.attributes &&
          selectedCategory.attributes.length > 0
        "
        class="text-uppercase border-bottom"
      >
        Specific Details
      </h4>
      <template
        v-if="
          selectedCategory &&
          selectedCategory.attributes &&
          selectedCategory.attributes.length > 0
        "
      >
        <div
          class="form-group"
          v-for="attribute in selectedCategory.attributes.filter(
            (a) => a.type == 'radio'
          )"
          :key="attribute.id"
        >
          <label class="col-sm-3 text-left flip"
            >{{ attribute.name }} :<span v-if="attribute.required == 1"
              >*</span
            ></label
          >
          <div class="col-sm-9">
            <div class="radio">
              <template v-for="value in attribute.attributevalues">
                <input
                  :key="value.id"
                  :id="value.value"
                  :value="value.id"
                  type="radio"
                  v-model="form[attribute.code]"
                  checked
                />
                <label :for="value.value" :key="'la' + value.value">{{
                  value.value
                }}</label>
              </template>
            </div>
            <div class="help-block with-errors" v-if="errors[attribute.code]">
              {{ errors[attribute.code] }}
            </div>
          </div>
        </div>
      </template>
      <template
        v-if="
          selectedCategory &&
          selectedCategory.attributes &&
          selectedCategory.attributes.length > 0
        "
      >
        <div
          class="form-group cat-5"
          :key="'drop_' + attribute.id"
          v-for="attribute in selectedCategory.attributes.filter(
            (a) => a.type == 'dropdown'
          )"
        >
          <label class="col-sm-3 text-left flip"
            >{{ attribute.name }}:
            <span v-if="attribute.required == 1">*</span></label
          >
          <div class="col-sm-9">
            <div class="inner-addon right-addon">
              <v-select
                :options="attribute.attributevalues"
                v-model="form[attribute.code]"
                label="value"
                :reduce="(c) => c.id"
              ></v-select>
            </div>
            <div class="help-block with-errors" v-if="errors[attribute.code]">
              {{ errors[attribute.code] }}
            </div>
          </div>
        </div>
      </template>
      <template
        v-if="
          selectedCategory &&
          selectedCategory.attributes &&
          selectedCategory.attributes.length > 0
        "
      >
        <div
          class="form-group cat-5"
          :key="'drop_' + attribute.id"
          v-for="attribute in selectedCategory.attributes.filter(
            (a) => a.type == 'text'
          )"
        >
          <label class="col-sm-3 text-left flip"
            >{{ attribute.name }}:
            <span v-if="attribute.required == 1">*</span></label
          >
          <div class="col-sm-9">
            <!-- <input
            type="hidden"
            class="custom_field"
            name="attribute_id{{$attribute->id}}"
            value="{{$attribute->id}}"
            size="12"
          /> -->
            <input
              type="text"
              class="form-control form-control-md"
              v-model="form[attribute.code]"
              :placeholder="attribute.name"
              size="12"
            />
            <div class="help-block with-errors" v-if="errors[attribute.code]">
              {{ errors[attribute.code] }}
            </div>
          </div>
        </div>
      </template>
      <template
        v-if="
          selectedCategory &&
          selectedCategory.attributes &&
          selectedCategory.attributes.length > 0
        "
      >
        <div
          class="form-group cat-5"
          :key="'drop_' + attribute.id"
          v-for="attribute in selectedCategory.attributes.filter(
            (a) => a.type == 'number'
          )"
        >
          <label class="col-sm-3 text-left flip"
            >{{ attribute.name }}:
            <span v-if="attribute.required == 1">*</span></label
          >
          <div class="col-sm-9">
            <!-- <input
            type="hidden"
            class="custom_field"
            name="attribute_id{{$attribute->id}}"
            value="{{$attribute->id}}"
            size="12"
          /> -->
            <input
              type="number"
              class="form-control form-control-md"
              v-model="form[attribute.code]"
              :placeholder="attribute.name"
              size="12"
            />
            <div class="help-block with-errors" v-if="errors[attribute.code]">
              {{ errors[attribute.code] }}
            </div>
          </div>
        </div>
      </template>
      <div
        class="form-group"
        id="cat-1"
        v-if="
          selectedCategory &&
          selectedCategory.attributes &&
          selectedCategory.attributes.length > 0
        "
      >
        <template
          v-for="attribute in selectedCategory.attributes.filter(
            (a) => a.type == 'checkbox'
          )"
        >
          <p class="col-sm-3 feature" :key="'label_' + attribute.name">
            {{ attribute.name }}:
          </p>
          <div class="col-sm-8" :key="'div_' + attribute.name">
            <div class="inner-addon right-addon">
              <div class="checkbox">
                <template v-for="value in attribute.amenities">
                  <input
                    type="checkbox"
                    :key="value.id + 'input'"
                    class="
                      custom_field custom_field_visible
                      input-textarea
                      newcehckbox
                    "
                    :id="'custom_field' + value.id"
                    v-model="form[attribute.code]"
                    :value="value.id"
                  />
                  <label
                    :key="value.id + 'input-label'"
                    :for="'custom_field' + value.id"
                    class="col-sm-3 newcehcklabel"
                    >{{ value.value }}</label
                  >
                </template>
              </div>
            </div>
          </div>
          <div
            class="help-block with-errors"
            v-if="errors[attribute.code]"
            :key="'div_error' + attribute.name"
          >
            {{ errors[attribute.code] }}
          </div>
        </template>
      </div>
    </div>

    <div class="form-main-section media-detail">
      <div class="form-group">
        <label class="col-sm-3 text-left flip">Video URL:</label>
        <div class="col-sm-9">
          <div class="iframe">
            <div class="iframe-heading">
              <i class="fas fa-video"></i>
              <span>Put here iframe or video url.</span>
            </div>
            <textarea
              class="form-control"
              v-model="form.url"
              id="video-code"
              placeholder="Put here iframe or video url."
            ></textarea>
            <div class="help-block">
              <p>
                Add iframe or video URL (iframe 710x400) (youtube, vimeo, etc)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-main-section post-location">
      <h4 class="text-uppercase border-bottom">Ad Location :</h4>

      <div
        class="form-group"
        v-if="basicAdPostingData && basicAdPostingData.cities"
      >
        <label class="col-sm-3 text-left flip"
          >Select Location: <span>*</span></label
        >
        <div class="col-sm-9">
          <div class="inner-addon right-addon input-group">
            <div class="input-group-addon">
              <i class="fas fa-globe"></i>
            </div>
            <v-select
              :options="basicAdPostingData.cities"
              :reduce="(c) => c.id"
              label="name"
              placeholder="Select Location"
              v-model="form.city_id"
              @input="validate('city_id')"
            ></v-select>
          </div>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 text-left flip">Address: <span>*</span></label>
        <div class="col-sm-9">
          <div class="inner-addon right-addon input-group">
            <div class="input-group-addon">
              <i class="fas fa-globe"></i>
            </div>
            <gmap-autocomplete
              class="introInput form-control"
              @place_changed="placeChanged"
            >
            </gmap-autocomplete>
          </div>
          <div class="help-block with-errors" v-if="errors.address">
            {{ errors.address }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <gmap-map
            :center="center"
            :zoom="13"
            map-type-id="terrain"
            style="width: 100%; height: 300px"
          >
            <gmap-marker :position="center"> </gmap-marker>
          </gmap-map>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 text-left flip"
          >Ad Post Type: <span>*</span></label
        >
        <div class="col-sm-9">
          <div class="inner-addon right-addon input-group">
            <div class="input-group-addon">
              <i class="fas fa-globe"></i>
            </div>
            <v-select
              v-if="basicAdPostingData && basicAdPostingData.days"
              :options="basicAdPostingData.days"
              :reduce="(c) => c.id"
              v-model="form.day_id"
              label="name"
              placeholder="Select an Option to make your ad featured or regular"
              @input="validate('day_id')"
            />
          </div>
          <div class="help-block with-errors" v-if="errors.day_id">
            {{ errors.day_id }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 text-left flip"
          >Upload Images: <span>*</span></label
        >
        <div class="col-sm-9">
          <div class="row" v-if="$props.mode == 'edit'">
            <div class="col-md-2" v-for="image in images" :key="image.id">
              <span
                class="fa fa-times"
                title="Click to remove Image"
                @click="removeImage(image)"
                style="
                  position: absolute;
                  right: 0px;
                  background-color: #419a96;
                  color: white;
                  padding: 5px;
                  font-size: 10px;
                  cursor: pointer;
                  border-radius: 35%;
                "
              ></span>
              <img
                class="img img-responsive"
                :src="'/watermark/' + image.full"
                alt=""
              />
            </div>
          </div>

          <div class="inner-addon right-addon input-group">
            <div class="input-group-addon">
              <i class="fas fa-globe"></i>
            </div>
            <file-upload
              v-model="form.file"
              :accept="'.png'"
              :maxSize="'10MB'"
            />
          </div>

          <!-- <div class="help-block with-errors" v-if="errors.day_id">
            {{ "This field is required" }}
          </div> -->
        </div>
      </div>

      <!-- <ul id="geoData">
        <li>Full Address: <span id="location-snap"></span></li>
        <li>Latitude: <span id="lat-span"></span></li>
        <li>Longitude: <span id="lon-span"></span></li>
        <input
          type="text"
          id="lat"
          name="latitude"
          value="{{old('latitude')}}"
        />
        <input
          type="text"
          id="lng"
          name="longitude"
          value="{{old('longitude')}}"
        />
      </ul>
      <div class="help-block">lat error</div>
      <div class="help-block">lon error</div> -->

      <!-- <div class="form-main-section post-type">
                                    <h4 class="text-uppercase border-bottom">Select Ad Post Type :</h4>
                                    <p class="help-block">Select an Option to make your ad featured or regular</p>
                                    <div class="form-group">


                                        @foreach($days as $value)
                                        @if(Request::old('day_id') == $value->id)
                                        <div class="col-sm-4 col-md-3 col-lg-3 active-post-type">
                                            <div class="post-type-box">
                                                <h3 class="text-uppercase">{{$value->title}}</h3>
                                                <p>For&nbsp;{{$value->name}}</p>
                                                <div class="radio">
                                                    <input id="{{$value->name}}" type="radio" name="day_id"
                                                        value="{{$value->id}}" checked>
                                                    <label for="{{$value->name}}">Select</label>
                                                </div>

                                            </div>
                                        </div>
                                        @else
                                        <div class="col-sm-4 col-md-3 col-lg-3 active-post-type">
                                            <div class="post-type-box">
                                                <h3 class="text-uppercase">{{$value->title}}</h3>
                                                <p>For&nbsp;{{$value->name}}</p>
                                                <div class="radio">
                                                    <input id="{{$value->name}}" type="radio" name="day_id"
                                                        value="{{$value->id}}">
                                                    <label for="{{$value->name}}">Select</label>
                                                </div>

                                            </div>
                                        </div>
                                        @endif

                                        @endforeach
                                        <div class="help-block with-errors">
                                            <ul class="list-unstyled">
                                                <li>
                                                    {{ $errors->first("day_id") }}
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                </div> -->

      <div class="row">
        <div class="col-sm-12">
          <div class="help-block terms-use">
            <label for="remember"
              >By clicking &quot;Publish Ad&quot;, I agree to
              <a href="/blog/terms-of-use" target="_blank"
                >Merooffer's Terms of Use</a
              >
              and
              <a href="/blog/privacy-policy'" target="_blank">Privacy Policy</a
              >,
              <a href="blog/posting-policy" target="_blank">Posting Policy</a>
              and I consent to receiving marketing from Merooffer and
              acknowledge that you are the rightful owner of this item. You can
              upload picture in next step after submitting your ad.</label
            >
          </div>
        </div>
      </div>
      <div class="form-main-section publishbtn">
        <div class="col-sm-12">
          <!-- @if (Auth::check())
                                        <input name="user_id" type="hidden" value="{{ Auth::user()->id }}">
                                        @endif
                                        <input name="category_id[]" type="hidden" value="{{ $category->id }}">
                                        <input name="category_id[]" type="hidden" value="{{ $category->category->id }}"> -->

          <button
            class="
              post-submit
              btn btn-primary
              sharp
              btn-md btn-style-one btn-block
            "
            type="button"
            name="op"
            @click="submitRequest"
            :disabled="loading"
          >
            {{ loading ? "Submitting Your Ad. Please Wait...." : "Publish Ad" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import axios from "axios";
import fileUpload from "./file-upload.vue";
export default {
  props: ["mode", "product"],
  components: {
    fileUpload,
  },
  mounted() {
    this.getCategories();
    this.getBasicAdPostingData();
    this.prepareIfInEditMode();
  },
  data() {
    return {
      loading: false,
      validation: {
        name: {
          required: true,
          min: 5,
          type: "string",
        },
        category_id: {
          required: true,
        },
        sub_category_id: {
          required: true,
        },
        desc: {
          required: true,
          type: "string",
          min: 10,
        },
        adtype_id: {
          required: true,
        },
        pricetype_id: {
          required: true,
        },
        condition_id: {
          required: true,
        },
        price: {
          required: true,
          type: "number",
          min: 1,
        },
        // gr_price: {
        //   type: "number",
        //   min: 1,
        // },
        pricelabel_id: {
          required: false,
        },
        quantity: {
          required: true,
          type: "number",
          min: 1,
        },
        bid: {
          required: true,
        },
        address: {
          required: true,
        },
        latitude: {
          required: true,
        },
        longitude: {
          required: true,
        },
        day_id: {
          required: true,
        },
      },
      categories: [],
      center: {
        lat: -1.2884,
        lng: 36.8233,
      },
      errors: {},
      form: {
        category_id: null,
        sub_category_id: null,
        name: null, //title
        desc: null,
        adtype_id: null,
        pricetype_id: null,
        condition_id: null,
        price: null,
        gr_price: null,
        pricelabel_id: null,
        quantity: 1,
        bid: "1",
        cell: null,
        url: null,
        city_id: null,
        address: null,
        day_id: null,
        latitude: null,
        longitude: null,
      },
      basicAdPostingData: null,
    };
  },
  methods: {
    removeImage(file) {
      console.log(file);
      axios({
        url: "/images/" + file.id + "/delete",
        method: "post",
        data: { _method: "DELETE" },
      })
        .then((resp) => {
          console.log(resp);
          if (resp.data.status == 1) {
            this.$set(this.$props.product, "images", resp.data.images);
            // this.$props.product.images = resp.data.images;
          }
        })
        .catch();
    },
    prepareIfInEditMode() {
      if (this.$props.mode == "edit") {
        let product = this.$props.product;
        this.form.category_id = product.categories.find((c) => !c.parent_id).id;
        this.form.sub_category_id = product.categories.find(
          (c) => c.parent_id
        ).id;
        this.form.id = product.id;
        this.form.name = product.name;
        this.form.desc = product.desc;
        this.form.adtype_id = product.adtype_id;
        this.form.pricetype_id = product.pricetype_id;
        this.form.condition_id = product.condition_id;
        this.form.price = product.price;
        this.form.gr_price = product.gr_price;
        this.form.pricelabel_id = product.pricelabel_id;
        this.form.quantity = product.quantity;
        this.form.bid = product.bid;
        this.form.cell = product.cell;
        this.form.url = product.url;
        this.form.city_id = product.city_id;
        this.form.address = product.address;
        this.form.day_id = product.day_id;
        this.center.lat = parseFloat(product.latitude);
        this.center.lng = parseFloat(product.longitude);
        this.form.latitude = parseFloat(product.latitude);
        this.form.longitude = parseFloat(product.longitude);
      }
    },
    submitRequest() {
      this.loading = true;
      //   for (let k in this.validation) {
      //     this.validate(k);
      //   }
      //   if (Object.keys(this.errors).length > 0) {
      //     this.$notify({
      //       title: "Please Check for validation errors",
      //       type: "error",
      //       group: "foo",
      //       duration: 3000,
      //     });
      //     this.loading = false;
      //     return;
      //   }
      axios({
        url: "/store-ad",
        method: "post",
        data: this.form,
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            window.location.href =
              "/user-all-ads?flash_success=Ad Submitted Successfully";
          } else {
            console.log(this.normalizeErrors(resp.data.errors));
            this.$set(this, "errors", this.normalizeErrors(resp.data.errors));
            this.$notify({
              title: "Please Check for validation errors",
              type: "error",
              group: "foo",
              duration: 3000,
            });
            // this.errors = resp.data.errors;
          }
        })
        .catch()
        .finally(() => {
          this.loading = false;
        });
    },
    normalizeErrors(errors) {
      let e = {};
      for (let k in errors) {
        e[k] = errors[k][0];
      }
      return e;
    },
    getCategories() {
      axios({
        url: "/categories-for-search",
      }).then((resp) => {
        if (resp.data.status == 1) {
          this.categories = resp.data.data.categories;
        }
      });
    },
    getBasicAdPostingData() {
      axios({
        url: "/get-basic-ad-posting-data",
      }).then((resp) => {
        if (resp.data.status == 1) {
          this.basicAdPostingData = resp.data.data;
        }
      });
    },
    placeChanged(place) {
      console.log(place);
      this.center.lat = place.geometry.location.lat();
      this.center.lng = place.geometry.location.lng();
      this.$set(this.form, "address", place.formatted_address);
      //   this.form.address = place.formatted_address;
      //   this.validate("address");
      this.form.latitude = place.geometry.location.lat();
      this.form.longitude = place.geometry.location.lng();
    },
    validate(field) {
      //   let { required, min, type } = this.validation[field];
      //   if (required && (!this.form[field] || this.form[field] == "")) {
      //     this.$set(this.errors, field, "This field is required");
      //   } else if (min && type == "string" && this.form[field].length < min) {
      //     this.$set(
      //       this.errors,
      //       field,
      //       field + " must be at least " + min + " characters"
      //     );
      //   } else if (min && type == "number" && this.form[field] < min) {
      //     this.$set(this.errors, field, field + " must be at least " + min);
      //   } else {
      //     this.$delete(this.errors, field);
      //   }
    },
  },
  computed: {
    subCat() {
      let cat = this.categories.find((cat) => cat.id == this.form.category_id);
      if (cat) {
        return cat.children;
      }
      return [];
    },
    selectedCategory() {
      let cat = this.subCat.find((cat) => cat.id == this.form.sub_category_id);
      if (cat) {
        return cat;
      }
      return [];
    },
    images() {
      return this.$props.product.images;
    },
  },
  watch: {
    selectedCategory: function (newVal, oldVal) {
      if (newVal.pricelabels && newVal.pricelabels.length > 0) {
        this.$set(this.validation, "pricelabel_id", {
          required: true,
        });
      }
      if (newVal.attributes) {
        ["radio", "dropdown", "text", "checkbox"].forEach((type) => {
          let a = newVal.attributes.filter((a) => a.type == type);
          a.forEach((a) => {
            let val = null;
            if (a) {
              if (this.$props.mode == "edit") {
                val = this.$props.product.attributevalues.find(
                  (at) => at.attribute_id == a.id
                );
                if (val) {
                  console.log("found");
                  console.log(val);
                  if (type == "radio" || type == "dropdown") {
                    val = val.id;
                  } else if (type == "text") {
                    val = val.value;
                  }
                }
              }
              if (type == "checkbox") {
                val = [];
              }
              this.$set(this.form, a.code, val);
              if (a.required == 1) {
                this.$set(this.validation, a.code, {
                  required: true,
                });
              }
            }
          });
        });
      }
    },
  },
};
</script>
<style>
.notification-title {
  color: white;
}
</style>
