<template>
  <button class="watch-later text-uppercase" type="button" @click="addToFollow">
    Chat Now
  </button>
</template>
<script>
import axios from "axios";
import util from "./util";
export default {
  props: ["auth_id", "user_id", "added"],
  data() {
    return {
      user_added: this.$props.added,
    };
  },
  methods: {
    addToFollow() {
      axios({
        url: "/addSeller",
        params: {
          auth_id: this.auth_id,
          user_id: this.user_id,
        },
      }).then((resp) => {
        console.log(resp);
        if (resp.data.status == 1) {
          this.user_added = true;
          util.event.$emit("sellerAddedToChat", this.auth_id, this.user_id);
        } else {
          this.user_added = false;
        }
      });
    },
  },
};
</script>
