<template lang="">
   <div>
      <form method="get">
         <div class="search-form border">
            <div class="search-form-main-heading">
               <a href="#innerSearch" role="button" data-toggle="collapse" aria-expanded="true"
                  aria-controls="innerSearch">
               <i class="fas fa-sync-alt"></i>
               Job Search </a>
            </div>
            <div id="innerSearch" class="collapse in classiera__inner" >
                <div class="inner-search-box"  v-if="attributes ">
                        <h5 class="inner-search-heading"><i class="fas fa-list"></i>
                            Salary Type
                        </h5>
                        <div class="inner-addon right-addon">
                            <v-select :options="attributes.salarytypes"
                            label="name" value="id" key="Category" v-model="search.salarytype_id" :reduce="c=>c.id+''"/>
                        </div>
                    </div>
               <div class="inner-search-box" v-if="search.salarytype_id!=1">
                  <h5>
                     <span class="currency__symbol">
                     </span>
                     Salary Range
                  </h5>
                  <div class="classiera_price_slider">

                     <range-slider  :minval.sync="search['min_salary']"
                     :maxval.sync="search['max_salary']"
                     :key="'price_range'"
                     :max="1000000"
                     :single="false"/>
                  </div>
               </div>
                <template v-if="attributes">
                    <div class="inner-search-box">
                        <h5 class="inner-search-heading"><i class="fas fa-list"></i>
                            Job Category
                        </h5>
                        <div class="inner-addon right-addon">
                            <v-select :options="attributes.categories"
                            label="name" value="id" key="Category" v-model="search.category_id" :reduce="c=>c.id+''"/>
                        </div>
                    </div>
                    <div class="inner-search-box">
                        <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                            Industry
                        </h5>
                        <div class="inner-addon right-addon">
                            <v-select :options="attributes.industries"
                            label="name" value="id" key="Industry" v-model="search.industry_id" :reduce="c=>c.id+''"/>
                        </div>
                    </div>
                    <div class="inner-search-box">
                        <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                            Position
                        </h5>
                        <div class="inner-addon right-addon">
                            <v-select :options="attributes.positions"
                            label="name" value="id" key="Position" v-model="search.position_id" :reduce="c=>c.id+''"/>
                        </div>
                    </div>
                    <div class="inner-search-box">
                        <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                            Experience
                        </h5>
                        <div class="inner-addon right-addon">
                            <v-select :options="attributes.experiences"
                            label="name" value="id" key="Experience" v-model="search.experience_id" :reduce="c=>c.id+''"/>
                        </div>
                    </div>
                    <div class="inner-search-box">
                        <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                            City
                        </h5>
                        <div class="inner-addon right-addon">
                            <v-select :options="attributes.cities"
                            label="name" value="id" key="city" v-model="search.city_id" :reduce="c=>c.id+''"/>
                        </div>
                    </div>
                    <div class="inner-search-box">
                        <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                            Level
                        </h5>
                        <div class="inner-addon right-addon">
                            <v-select :options="attributes.levels"
                            label="name" value="id" key="Level" v-model="search.level_id" :reduce="c=>c.id+''"/>
                        </div>
                    </div>
                    <div class="inner-search-box">
                        <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                            Job Type
                        </h5>
                        <div class="inner-addon right-addon">
                            <v-select :options="attributes.jobtypes"
                            label="name" value="id" key="jt" v-model="search.jobtype_id" :reduce="c=>c.id+''"/>
                        </div>
                    </div>
                </template>
               <div>
               </div>
               <button type="button" class="btn btn-primary sharp btn-sm btn-style-one btn-block"
                  value="Search" @click="$emit('performSearch',search)">Search</button>
            </div>
         </div>
      </form>
   </div>
</template>
<script>
import { ToggleButton } from "vue-js-toggle-button";
import axios from "axios";
import util from "./util";
var parse = require("url-parse");
export default {
  components: {
    ToggleButton,
  },
  mounted() {
    let url = parse(window.location.href, true);
    console.log(url.query);
    console.log(util.formatObject(url.query));

    this.search = { ...this.search, ...url.query };
    this.getSearchAttributesForCategory();
  },
  data() {
    return {
      attributes: null,
      search: {
        category_id: null,
        salarytype_id: "2",
      },
    };
  },
  methods: {
    range(a, b) {
      if (Array.isArray(b) && b.length == 2) {
        this.search["min_" + a] = b[0];
        this.search["max_" + a] = b[1];
      } else {
        this.search[a] = b;
      }
    },

    getSearchAttributesForCategory() {
      axios({
        url: "/get-search-attributes-for-job-category",
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.attributes = resp.data.data;
          } else {
            this.attributes = null;
          }
        })
        .catch();
    },
  },
  computed: {},
  watch: {
    "search.category_id": function (n) {
      this.getSearchAttributesForCategory();
      this.search = {
        category_id: n,
      };
    },
    search: {
      deep: true,
      handler(n) {
        this.$emit("input", n);
      },
    },
  },
};
</script>
