<template lang="">
   <div>
      <form method="get">
         <div class="search-form border">
            <div class="search-form-main-heading">
               <a href="#innerSearch" role="button" data-toggle="collapse" aria-expanded="true"
                  aria-controls="innerSearch">
               <i class="fas fa-sync-alt"></i>
               Category Search </a>
            </div>
            <div id="innerSearch" class="collapse in classiera__inner" >
                <div class="inner-search-box" v-if="query.lng && query.lat">
                  <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                     Search Radius
                  </h5>
                  <div class="inner-addon right-addon">
                     <range-slider label="Search Radius" @label="label" code="search_radius" :min="1" :max="1000" unit="Km" :val.sync="search.search_radius" :default="search.search_radius"/>
                  </div>
               </div>
               <div class="inner-search-box">
                   <input type="checkbox"/>
                  <h5 class="inner-search-heading">
                     <ToggleButton @change="processLabel({label:'Assured::'+$event.value,key:'assurance',code:'assurance'})" v-model="search.assurance" :sync="true"/>Only Show Assured Items
                  </h5>
               </div>
               <div class="inner-search-box">
                  <h5 class="inner-search-heading"><i class="fas fa-list"></i>
                     Category
                  </h5>
                  <div class="inner-addon right-addon">

                     <v-select :options="getCat" v-if="categories"
                      @option:selected="processLabel({label:'Category:'+$event.label,key:'category_id',code:'category_id'})"
                     v-model="search.category_id" :reduce="(c)=>c.value" :key="'_cat'">
                        <template v-slot:option="option">
                           <span v-html="option.label"></span>
                        </template>

                        <template #selected-option="option">
  <p>{{ removeSpace(option.label) }}</p>
</template>
                     </v-select>
                  </div>
               </div>
               <div class="inner-search-box" v-if="selectedCategory">
                  <h5>
                     <span class="currency__symbol">
                     Rs.
                     </span>
                     Price Range
                  </h5>
                  <div class="classiera_price_slider">

                     <range-slider label="Price Range" @label="label" :code="['min_price','max_price']"  :min="selectedCategory.min_price" :max="selectedCategory.max_price"  :minval.sync="search['min_price']"
                     :maxval.sync="search['max_price']"
                     :key="'price_range'+search.category_id"
                     :single="false"/>
                  </div>
               </div>
               <template v-if="attributes">
               <div class="inner-search-box" v-for="(obj,type) in attributes.dropdown">
                  <h5 class="inner-search-heading">{{obj.name}}</h5>
                  <div class="inner-addon right-addon">

                     <v-select :options="obj.attributevalues"
                      v-model="search[obj.code]" label="value"
                      :key="obj.code"
                      @option:selected="processLabel({label:obj.name+':'+$event.value,key:obj.code,code:obj.code})"
                       :reduce="c=>c.id">
                     </v-select>
                  </div>
               </div>
               <div class="inner-search-box" v-for="(obj,type) in attributes.text">
                  <h5 class="inner-search-heading">{{obj.name}}</h5>
                  <div class="inner-addon right-addon">
                     <input type="text" v-model="search[obj.code]" :key="'txt_'+obj.code"
                     @input="processLabel({label:obj.name+':'+$event.target.value,key:obj.code,code:obj.code})"
                      class="form-control">
                  </div>
               </div>
               <div class="inner-search-box-child" v-for="obj in attributes.radio">
                  <p>{{obj.name}} <i class="fa fa-times" @click="search[obj.code]=null"
                   style="display:inline-block;float:right;cursor:pointer"></i></p>
                  <div class="radio">
                     <div v-for="acc in obj.attributevalues">
  <input
    style="
      margin-left: 0px;
      z-index: 12;
      opacity: 1;
      visibility: visible;
      cursor: pointer;
    "
    v-model="search[obj.code]"
    :value="acc.id"
    :id="acc.value + 'input'"
    :key="acc.value"
    type="radio"
    @change="processLabel({label:obj.name+':'+acc.value,key:obj.code,code:obj.code})"
  />
  <label :for="acc.value" :id="acc.value + 'label'" style="cursor: auto">{{
    acc.value
  }}</label>
</div>
                  </div>
                  <hr>
               </div>
               <div v-for="obj in attributes.nonInterval">
                  <h5 class="inner-search-heading">
                     {{obj.name}}
                  </h5>
                  <div class="inner-addon right-addon">
                     <range-slider :label="obj.name" @label="label" :code="obj.code"   :val.sync="search[obj.code]" :key="obj.code" :min="parseInt(obj.interval_from)" :max="parseInt(obj.interval_to)" :unit="obj.name"/>
                  </div>
                  <hr>
               </div>
               <div v-for="obj in attributes.interval">
                  <h5 class="inner-search-heading">
                     {{obj.name}}
                  </h5>
                  <div class="inner-addon right-addon">
                     <range-slider :label="obj.name" @label="label" :code="['min_'+obj.code,'max_'+obj.code]"   :minval.sync="search['min_'+obj.code]"
                     :maxval.sync="search['max_'+obj.code]"
                      :single="false" :key="obj.code" :min="parseInt(obj.interval_from)" :max="parseInt(obj.interval_to)" :unit="obj.name"/>
                  </div>
                  <hr>
               </div>

               <div class="inner-search-box" v-if="attributes && attributes.cities">
                  <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                     City
                  </h5>
                  <div class="inner-addon right-addon">

                     <v-select :options="attributes.cities"
                     @option:selected="processLabel({label:'City:'+$event.name,key:'city_id',code:'city_id'})"
                     label="name" value="id" key="city"
                      v-model="search.city_id" :reduce="c=>c.id+''"/>
                  </div>
               </div>
               </template>

               <div class="inner-search-box" v-if="attributes && attributes.conditions">
                  <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                     Condition
                  </h5>
                  <div class="inner-addon right-addon">

                     <v-select :options="attributes.conditions"
                     @option:selected="processLabel({label:'Condition:'+$event.name,key:'condition_id',code:'condition_id'})"
                      label="name" value="id" v-model="search.condition_id" key="condition_id"  :reduce="c=>c.id"/>
                  </div>
               </div>
               <div class="inner-search-box" v-if="attributes && attributes.adType">
                  <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                     Ad Type
                  </h5>
                  <div class="inner-addon right-addon">

                     <v-select :options="attributes.adType"
                     @option:selected="processLabel({label:'Ad Type:'+$event.name,key:'adtype_id',code:'adtype_id'})"
                      label="name"
                      value="id" v-model="search.adtype_id" key="ad_type"  :reduce="c=>c.id"/>
                  </div>
               </div>
               <div class="inner-search-box" v-if="attributes && attributes.priceType">
                  <h5 class="inner-search-heading"><i class="fas fa-map-marker"></i>
                     Price Type
                  </h5>
                  <div class="inner-addon right-addon">

                     <v-select :options="attributes.priceType"
                     @option:selected="processLabel({label:'Price Type::'+$event.name,key:'pricetype_id',code:'pricetype_id'})"
                     label="name"
                      value="id" v-model="search.pricetype_id" key="price_type"  :reduce="c=>c.id"/>
                  </div>
               </div>
               <div>
               </div>
               <button type="button" class="btn btn-primary sharp btn-sm btn-style-one btn-block"
                  value="Search" @click="$emit('performSearch',search)">Search</button>
            </div>
         </div>
      </form>
   </div>
</template>
<script>
import { ToggleButton } from 'vue-js-toggle-button'
import axios from "axios";
import util from "./util";
var parse = require('url-parse');
export default {
    components: {
        ToggleButton
    },
    mounted() {
        let url = parse(window.location.href, true);
        this.query=util.formatObject(url.query);
        this.search={...this.search,...util.formatObject(url.query)};
        this.getCategories();
        // this.getSearchAttributesForCategory();
    },
  data() {
    return {
        query:{},
    //   categories: null,
    //   attributes: null,
      search: {
        category_id: null,
        page:1,
        search_radius:100,
        assurance:false
      },
    };
  },
  methods: {
      processLabel(obj){
          console.log(obj);
          this.label(obj);

      },
      label(obj){
          console.log("logging tiny badge");
          console.log(obj);
          this.$store.commit("setTinyBadges",obj);
      },
      range(a,b){
          if(Array.isArray(b) && b.length == 2){
              this.search['min_'+a] = b[0];
              this.search['max_'+a] = b[1];
          }else{
              this.search[a] = b;
          }
      },
    getCategories() {
      axios({
        url: "/categories-for-search",
      }).then((resp) => {
        if (resp.data.status == 1) {
        //   this.categories = resp.data.data.categories;
          this.$store.commit("setProductCategory", resp.data.data.categories);
        }
      });
    },
    getSearchAttributesForCategory() {
      axios({
        url: "/get-search-attributes-for-category",
        params: { category_id: this.search.category_id },
      })
        .then((resp) => {
            if(resp.data.status==1){
                // this.attributes = resp.data.data;
                this.$store.commit("setProductAttributes", resp.data.data);
            }else{
                this.$store.commit("setProductAttributes", null);
            }

        })
        .catch();
    },
    removeSpace(str) {
      return str.replaceAll("&nbsp;", "");
    },
  },
  computed: {
    getCat() {
      let arr = [];
      this.categories.forEach((cat) => {
        arr.push({ label: cat.name, value: cat.id,max_price:cat.max_price,min_price:cat.min_price });
        if (
          cat.children &&
          Array.isArray(cat.children) &&
          cat.children.length > 0
        ) {
          cat.children.forEach((chi) => {
            arr.push({ label: "&nbsp;&nbsp;&nbsp;" + chi.name,
             value: chi.id ,max_price:chi.max_price,min_price:chi.min_price});
          });
        }
      });

      return arr;
    },
    categories(){
        return this.$store.state.productCategories;
    },
    attributes(){
        return this.$store.state.productAttributes;
    },
    selectedCategory(){
        return this.getCat.find(c=>c.value==this.search.category_id);
    },
  },
  watch:{
      'search.category_id':function(n,o){
          this.getSearchAttributesForCategory();
          console.log("Resetting ");
          this.search= {
                category_id: n,
                assurance:o?o.assurance:false
            }
          this.$store.commit("setProductSearchParameters",this.search);
      },
      'search':{
          deep:true,
          handler(n){
              this.$emit("input",n);
              this.$store.commit("setProductSearchParameters",n);
          }
      },
    //   "$store.state.productSearchParameters":function(n){
    //       this.search=n;
    //   }

  }
};
</script>
