<template>
  <div>
    <div class="classiera_bid_stats">
      <p class="classiera_bid_stats_text">
        <strong>OFFER Stats :</strong>
        <!-- {{$product->bids->count()}}&nbsp; -->
        {{ this.stats.bid_count }}
        Offers posted on this ad
      </p>
      <div class="classiera_bid_stats_prices">
        <p
          class="classiera_bid_price_btn high_price"
          v-if="this.stats.bid_high"
        >
          <span>Highest Offer:</span>
          {{ util.formatNumber(this.stats.bid_high) }}
        </p>
        <p class="classiera_bid_price_btn" v-if="this.stats.bid_low">
          <span>Lowest Offer:</span>
          {{ util.formatNumber(this.stats.bid_low) }}
        </p>
      </div>
      <!--classiera_bid_stats_prices-->
    </div>
    <div class="classiera_bid_comment_section" v-if="stats.product">
      <!-- @foreach($product->bids as $value) -->
      <div
        class="classiera_bid_media"
        v-for="bid in stats.product.bids"
        :key="bid.id"
      >
        <img
          class="classiera_bid_media_img img-thumbnail"
          src="/frontend/images/user.png"
          alt="bepsa"
        />
        <div class="classiera_bid_media_body">
          <h6 class="classiera_bid_media_body_heading">
            {{ bid.user.name }} <span>Offering</span>
          </h6>
          <p class="classiera_bid_media_body_time">
            <i class="far fa-clock"></i>{{ formatDate(bid.created_at) }}
          </p>
          <p class="classiera_bid_media_body_decription">
            {{ bid.body }}
          </p>
        </div>
        <div class="classiera_bid_media_price">
          <p class="classiera_bid_price_btn">
            <span>Offer:</span>
            Rs.{{ util.formatNumber(bid.bid) }}
          </p>
        </div>
      </div>
      <!-- @endforeach -->
    </div>
    <div class="alert alert-success" v-if="success">{{ message }}</div>
    <div class="comment-form classiera_bid_comment_form" v-if="stats.product">
      <div class="comment-form-heading">
        <h4 class="text-uppercase">Let&rsquo;s Create Your Offer</h4>
        <p>
          Only registered user can post offer
          <span class="text-danger">*</span>
        </p>
      </div>
      <!--comment-form-heading-->
      <div class="classiera_ad_price_comment">
        <p>Ad Price</p>
        <h3>
          &#8360;.{{ util.formatNumber(stats.product.price) }}
          <span v-if="stats.product && stats.product.pricelabel_id">
            {{ stats.product.pricelabel.name }}
          </span>
        </h3>
      </div>
      <form data-toggle="validator" method="post">
        <div class="form-group">
          <div class="form-inline row">
            <div class="form-group col-sm-12">
              <label class="text-capitalize">
                Enter your offering price :
                <span class="text-danger">*</span>
              </label>
              <div class="inner-addon left-addon">
                <input
                  type="number"
                  class="form-control form-control-sm offer_price"
                  :placeholder="
                    !stats.logged_in
                      ? 'Only available for registered user'
                      : 'Enter offering price'
                  "
                  data-error="Only integer"
                  required
                  v-model="form.bid"
                  :disabled="!stats.logged_in"
                />
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <!--form-group col-sm-12-->
            <div class="form-group col-sm-12">
              <label class="text-capitalize">
                Enter your comment :
                <span class="text-danger">*</span>
              </label>
              <div class="inner-addon">
                <textarea
                  data-error="Say something about offer"
                  v-model="form.body"
                  :placeholder="
                    !stats.logged_in
                      ? 'Only available for registered user'
                      : 'Type your comment here'
                  "
                  required
                  :disabled="!stats.logged_in"
                ></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <!--form-group col-sm-12-->
          </div>
          <!--form-inline row-->
        </div>
        <!--form-group-->

        <div class="form-group">
          <button
            type="button"
            name="submit"
            class="btn btn-primary sharp btn-md btn-style-one"
            value="send"
            @click="bidStore"
            :disabled="!form.bid || !form.body"
          >
            Send offer
          </button>
        </div>
      </form>
      <!--classiera_ad_price_comment-->
    </div>
  </div>
</template>
<script>
import axios from "axios";
import util from "./util";
export default {
  props: ["product_id", "productBids"],
  mounted() {
    this.getProductStats();
  },
  data() {
    return {
      util,
      stats: {},
      success: false,
      message: "",
      form: {
        bid: "",
        body: "",
        product_id: this.product_id,
        url: window.location.href,
      },
    };
  },
  methods: {
    bidStore() {
      axios({
        url: "/bid-store",
        method: "post",
        data: this.form,
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.success = true;
            this.message = resp.data.message;
            this.getProductStats();
            this.form.body = "";
            this.form.bid = "";
          }
        })
        .catch();
    },
    formatDate(date) {
      return util.formatDate(date);
    },
    getProductStats() {
      axios({
        url: "/bid-stats/" + this.$props.product_id,
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.stats = resp.data.data;
          }
        })
        .catch();
    },
  },
};
</script>
