<template>
  <div
    class="chat-head"
    style="position: fixed; left: 0px; bottom: 0px; z-index: 9999999999999"
  >
    <div>
      <div class="row" style="display: flex; align-items: end">
        <div class="col-md-2">
          <img
            src="/images/chat.png"
            alt=""
            style="width: 50px; cursor: pointer"
            @click="closeChatHead = !closeChatHead"
          />
        </div>

        <div class="col-md-3" style="width: fit-content" v-if="!closeChatHead">
          <div class="panel panel-default ffside" style="margin-bottom: 0px">
            <div
              class="panel-heading"
              style="background-color: #419a96; color: white"
            >
              Users
              <span
                class="fa fa-times pull-right"
                style="cursor: pointer"
                @click="closeChatHead = true"
              ></span>
            </div>
            <div class="panel-body" style="padding: 0px">
              <ul
                class="list-group"
                v-if="Array.isArray(chatLists) && chatLists.length > 0"
              >
                <li
                  class="list-group-item"
                  v-for="(chatList, index) in chatLists"
                  style="cursor: pointer"
                  @click="chat(chatList)"
                  :key="chatList.name + '_' + index"
                >
                  @{{ chatList.name }}
                  <i
                    class="fa fa-circle pull-right"
                    v-bind:class="{ online: chatList.online == 'Y' }"
                  ></i>
                  <span class="badge" v-if="chatList.msgCount != 0"
                    >@{{ chatList.msgCount }}</span
                  >
                </li>
                <li
                  class="list-group-item"
                  v-if="socketConnected.status == false"
                >
                  @{{ socketConnected.msg }}
                </li>
              </ul>
              <ul v-else>
                <li>No Users in your chatlist yet.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <chatbox
            v-if="socket && cChat"
            :user_id="user_id"
            :cChat="cChat"
            :socket="socket"
            :chatBoxClose="chatBoxClose"
            :chatBoxMinimize="chatBoxMinimize"
            :preMessage="preMessage"
            :key="user_id"
          ></chatbox>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import chatbox from "./chatbox.vue";
import util from "./util";
export default {
  components: {
    chatbox,
  },
  mounted() {
    this.appendSocketScript();
    this.appendStyleScript();
    util.event.$on("sellerAddedToChat", (id, seller_id) => {
      console.log("seller added to chat" + id);
      this.closeChatHead = false;
      this.socket.emit("chatList", id);
      this.openMessageDirectly = seller_id;
      this.preMessage =
        "Hello, I am interested in the product available at " +
        window.location.href;
    });
  },
  data() {
    return {
      preMessage: "",
      closeChatHead: true,
      openMessageDirectly: null,
      socket: null,
      user_id: null,
      chatLists: [],
      chatBox: [],
      socketConnected: {
        status: false,
        msg: "Connecting Please Wait...",
      },
      bArr: {},
      chatbox: null,
      cChat: null,
    };
  },
  methods: {
    appendSocketScript() {
      let sc = window.document.createElement("script");
      let self = this;
      sc.src = "/bower_components/js/socket.io.js";
      sc.onload = () => {
        const WS_URL = window.jQuery("meta[name=ws_url]").attr("content");
        this.user_id = Number(
          window.jQuery("meta[name=user_id]").attr("content")
        );
        this.socket = window.io(WS_URL, {
          query: "id= " + this.user_id,
        });
        this.setUpSocketCallback();
      };
      window.document.head.appendChild(sc);
    },
    appendStyleScript() {
      let sc = window.document.createElement("link");
      sc.href = "/bower_components/css/AdminLTE.min.css";
      sc.rel = "stylesheet";
      window.document.head.appendChild(sc);
    },
    chat: function (chat) {
      chat.msgCount = 0;
      this.cChat = chat;
      //   if (!this.chatBox.includes(chat.id)) {
      //     chat.msgCount = 0;
      //     const chatboxObj = Vue.extend(this.chatbox);
      //     let b = new chatboxObj({
      //       propsData: {
      //         socket: this.socket,
      //         user_id: this.user_id,
      //         cChat: chat,
      //         chatBoxClose: this.chatBoxClose,
      //         chatBoxMinimize: this.chatBoxMinimize,
      //       },
      //     }).$mount();
      //     jQuery("body").append(b.$el);
      //     this.bArr[chat.id] = b;
      //     this.chatBox.unshift(chat.id);
      jQuery("#msginput-" + chat.id).focus();
      //   } else {
      //     var index = this.chatBox.indexOf(chat.id);
      //     this.chatBox.splice(index, 1);
      //     this.chatBox.unshift(chat.id);
      //     jQuery("#msginput-" + chat.id).focus();
      //   }
      //   this.calcChatBoxStyle();
    },
    chatBoxClose: function (eleId) {
      //   jQuery("#chatbox-" + eleId).remove();
      //   this.bArr[eleId].$destroy();
      //   var index = this.chatBox.indexOf(eleId);
      //   this.chatBox.splice(index, 1);
      //   this.calcChatBoxStyle();
      this.cChat = null;
    },
    chatBoxMinimize: function (eleId) {
      //   jQuery(
      //     "#chatbox-" + eleId + " .box-body, #chatbox-" + eleId + " .box-footer"
      //   ).slideToggle("slow");
      this.cChat = null;
    },
    // calcChatBoxStyle() {
    //   var i = 270; // start position
    //   var j = 260; //next position
    //   this.chatBox.filter(function (value, key) {
    //     if (key < 4) {
    //       jQuery("#chatbox-" + value)
    //         .css("right", i)
    //         .show();
    //       i = i + j;
    //     } else {
    //       jQuery("#chatbox-" + value).hide();
    //     }
    //   });
    // },
    setUpSocketCallback() {
      let app = this;
      this.socket.on("connect", function (data) {
        app.socketConnected.status = true;
        app.socket.emit("chatList", app.user_id);
        console.log("Emitting User" + app.user_id);
      });
      this.socket.on("connect_error", function () {
        app.socketConnected.status = false;
        app.socketConnected.msg = "Could not connect to server";
        app.chatLists = [];
      });
      this.socket.on("chatListRes", function (data) {
        console.log(data);
        if (data.userDisconnected) {
          app.chatLists.findIndex(function (el) {
            if (el.socket_id == data.socket_id) {
              el.online = "N";
              el.socket_id = "";
            }
          });
        } else if (data.userConnected) {
          app.chatLists.findIndex(function (el) {
            if (el.id == data.userId) {
              el.online = "Y";
              el.socket_id = data.socket_id;
            }
          });
        } else {
          data.chatList.findIndex(function (el) {
            el.msgCount = 0;
          });
          app.chatLists = data.chatList;
        }
        if (app.openMessageDirectly) {
          app.cChat = app.chatLists.find(
            (c) => c.id == app.openMessageDirectly
          );
        }
      });
      // user chat box not open, count incomming  messages
      this.socket.on("addMessageResponse", function (data) {
        app.closeChatHead = false;
        if (!app.chatBox.includes(data.fromUserId)) {
          app.chatLists.findIndex(function (el) {
            if (el.id == data.fromUserId) {
              el.msgCount += 1;
            }
          });
        }
      });
    },
  },
  watch: {
    "$props.open": function (n) {
      console.log(n);
      this.closeChatHead == n ? true : false;
      this.cChat = this.chatLists.find((c) => c.id == n);
    },
  },
};
</script>
<style media="screen">
.online {
  color: #32cd32;
}
.ffside {
  height: 100%;
  position: static;
  z-index: 1;
  top: 0;
  right: 0;
  width: 18em;
  overflow-x: hidden;
  padding-top: 0px;
}
.chat_box {
  width: 260px;
  padding: 5px;
  position: sticky;
  bottom: 0px;
}
</style>
