<template >
  <div class="border-section border comments">
    <h4 class="border-section-heading text-uppercase">Comments</h4>
    <!--<div class="border-section border comments">-->
    <!-- @if(session('aim')) -->

    <!-- @endif -->
    <div class="user-comments border-bottom">
      <ul class="media-list" v-if="product">
        <!-- @php $comments = $product->comments()->paginate(5); @endphp -->
        <!-- @foreach($comments as $value) -->
        <li
          id="comment-2"
          class="comment even thread-even depth-1 parent media"
          v-for="comment in product.comments"
          :key="comment.id"
        >
          <div class="media-left">
            <a href="<#comment-2" class="media-object">
              <img
                class="media-object img-thumbnail"
                src="/frontend/images/user.png"
              />
            </a>
          </div>
          <div class="media-body" id="div-comment-2">
            <h5 class="media-heading">
              <a
                href="http://www.joinwebs.com"
                rel="external nofollow"
                class="url"
                >{{ comment.user.name }}</a
              >
              &nbsp;
              <span class="normal">Said :</span>
              <span class="time pull-right flip">{{
                formatDate(comment.created_at)
              }}</span>
            </h5>
            <p>{{ comment.body }}</p>
            <!-- .comment-content -->
            <h5 class="text-right flip">
              <i class="fas fa-share"></i>&nbsp;<a
                aria-label="Reply to admin"
                style="cursor: pointer"
                @click.prevent="
                  openReplyForComment = openReplyForComment ? null : comment.id
                "
                >Reply to comment</a
              >
            </h5>

            <div v-if="openReplyForComment == comment.id">
              <div class="comment-form">
                <form>
                  <div class="form-inline row">
                    <div class="col-sm-6">
                      <p v-if="logged_in">
                        Logged in as
                        <a href="/profile"> {{ logged_in.name }} </a>&nbsp;
                        <a href="/logout" title="">Log out &raquo;</a>
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <button
                        type="button"
                        class="
                          reply-tg-button
                          btn btn-primary btn-md btn-style-one
                          sharp
                          pull-right
                        "
                        @click="openReplyForComment = null"
                      >
                        close reply
                      </button>
                    </div>
                    <div
                      class="col-sm-12 alert alert-success"
                      v-if="replySuccedMessage"
                      style="margin-top: 10px; padding-left: 20px"
                    >
                      {{ replySuccedMessage }}
                    </div>

                    <div class="form-group col-sm-12">
                      <label class="text-capitalize"
                        >Message : <span class="text-danger">*</span></label
                      >
                      <div class="inner-addon">
                        <textarea
                          data-error="Type your comment here"
                          v-model="reply.body"
                          :placeholder="
                            !logged_in
                              ? 'Please login to reply'
                              : 'Type your reply here...'
                          "
                          required
                          :disabled="!logged_in"
                        ></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <!--Message-->
                    <!-- <input
                      type="hidden"
                      name="url"
                      value="<?php echo url()->full(); ?>"
                    />
                    <input
                      type="hidden"
                      name="product_id"
                      value="{{$product->id}}"
                    />
                    <input
                      type="hidden"
                      name="parent_id"
                      value="{{$value->id}}"
                    /> -->
                  </div>
                  <div class="form-group">
                    <button
                      type="button"
                      name="submit"
                      class="btn btn-primary sharp btn-md btn-style-one"
                      value="Send"
                      @click="replyAdd"
                      :disabled="!allKeysAreNotNull(reply)"
                    >
                      Post Comment
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <ul
              class="children"
              v-for="reply in comment.replies"
              :key="reply.id"
            >
              <li id="comment-3" class="comment odd alt depth-2 parent media">
                <div class="media-left">
                  <a :href="full_url + '/#comment-3'" class="media-object">
                    <img
                      class="media-object img-thumbnail"
                      src="/frontend/images/user.png"
                    />
                  </a>
                </div>

                <div class="media-body" id="div-comment-3">
                  <h5 class="media-heading">
                    <a
                      href="http://www.joinwebs.com"
                      rel="external nofollow"
                      class="url"
                      >{{ reply.user.name }}</a
                    >
                    &nbsp;
                    <span class="normal">Said :</span>
                    <span class="time pull-right flip">{{
                      formatDate(reply.created_at)
                    }}</span>
                  </h5>
                  <p>{{ reply.body }}</p>
                  <!-- .comment-content -->
                  <h5 class="text-right flip">&nbsp;</h5>
                </div>
                <!--mediabody-->
              </li>
            </ul>
          </div>
          <!--mediabody-->
        </li>
        <!-- @foreach($value->replies as $reply) -->
        <ul class="children" v-for="reply in comment.replies" :key="reply.id">
          <li id="comment-3" class="comment odd alt depth-2 parent media">
            <div class="media-left">
              <a :href="full_url + '/#comment-3'" class="media-object">
                <img
                  class="media-object img-thumbnail"
                  src="/frontend/images/user.png"
                />
              </a>
            </div>

            <div class="media-body" id="div-comment-3">
              <h5 class="media-heading">
                <a
                  href="http://www.joinwebs.com"
                  rel="external nofollow"
                  class="url"
                  >{{ reply.user.name }}</a
                >
                &nbsp;
                <span class="normal">Said :</span>
                <span class="time pull-right flip">{{
                  formatDate(reply.created_at)
                }}</span>
              </h5>
              <p>{{ reply.body }}</p>
              <!-- .comment-content -->
              <h5 class="text-right flip">&nbsp;</h5>
            </div>
            <!--mediabody-->
          </li>
        </ul>
        <!-- @endforeach -->
      </ul>
      <!-- @endforeach -->

      <!-- {{$comments->links()}} -->
    </div>
    <div class="comment-form">
      <div class="comment-form-heading">
        <h4 class="text-uppercase">Leave a Comment</h4>
      </div>
      <!--Form-->
      <div
        class="alert alert-success w-50 mx-auto mt-3 text-center"
        v-if="commentSuccedMessage"
      >
        {{ commentSuccedMessage }}
      </div>
      <form>
        <div class="form-group">
          <div class="form-inline row">
            <div class="col-sm-12" v-if="logged_in">
              <p>
                Logged in as
                <a href="/profile"> {{ logged_in.name }} </a>&nbsp;
                <a href="/logout" title="">Log out &raquo;</a>
              </p>
            </div>
            <div class="form-group col-sm-12">
              <label class="text-capitalize"
                >Message : <span class="text-danger">*</span></label
              >
              <div class="inner-addon">
                <textarea
                  data-error="Type your comment here"
                  v-model="comment.body"
                  :placeholder="
                    !logged_in
                      ? 'Please login to post Comment'
                      : 'Type your comment here...'
                  "
                  required
                  :disabled="!logged_in"
                ></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <!--Message-->
          </div>
        </div>
        <!--form-group-->
        <div class="form-group">
          <button
            type="button"
            name="submit"
            class="btn btn-primary sharp btn-md btn-style-one"
            value="Send"
            @click="commentStore"
            :disabled="!allKeysAreNotNull(comment)"
          >
            Post Comment
          </button>
        </div>
      </form>
      <div class="hidden"></div>
    </div>
    <!--comment-form-->
    <!--loguserComment-->
  </div>
</template>
<script>
import axios from "axios";
import util from "./util";
export default {
  props: ["id"],
  data() {
    return {
      commentSuccedMessage: null,
      replySuccedMessage: null,
      openReplyForComment: null,
      window,
      full_url: window.location.origin + window.location.pathname,
      product: null,
      logged_in: null,
      reply: {
        body: "",
        url: window.location.href,
        product_id: this.id,
        // parent_id: this.openReplyForComment,
      },
      comment: {
        body: "",
        url: window.location.href,
        product_id: this.id,
      },
    };
  },
  mounted() {
    this.getComments();
  },
  methods: {
    formatDate(date) {
      return util.formatDate(date);
    },
    commentStore() {
      axios({
        url: "/comment-store",
        method: "post",
        data: this.comment,
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.commentSuccedMessage = resp.data.message;
            this.comment.body = "";
            this.getComments();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    replyAdd() {
      axios({
        url: "/reply/store",
        method: "post",
        data: { ...this.reply, parent_id: this.openReplyForComment },
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.replySuccedMessage = resp.data.message;
            this.reply.body = "";
            this.getComments();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getComments() {
      axios({
        url: "/product-comments/" + this.$props.id,
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.product = resp.data.data.product;
            this.logged_in = resp.data.data.logged_in;
          }
        })
        .catch();
    },
    allKeysAreNotNull(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) {
          if (obj[key] == null || obj[key] == "") {
            return false;
          }
        }
      }
      return true;
    },
  },
};
</script>
