<template>
  <div class="alert alert-warning" v-if="e.length > 0">
    <ul v-for="error in e" :key="error" style="color: white">
      <li style="margin-bottom: 0px; color: white">{{ error }}</li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    errors: {
      type: Object,
      required: true,
    },
  },
  computed: {
    e: function () {
      let f = [];
      for (let a in this.$props.errors) {
        f = [...f, ...this.$props.errors[a]];
      }
      return f;
    },
  },
};
</script>
