<template >
  <VueFileAgent
    ref="vueFileAgent"
    :theme="'grid'"
    :multiple="true"
    :deletable="true"
    v-model="fileRecords"
    @delete="fileDeleted($event)"
    @select="filesSelected($event)"
    @beforedelete="onBeforeDelete($event)"
    :accept="'image/*'"
    :helpText="'Please Choose Images for your Ad'"
  ></VueFileAgent>
</template>
<script>
export default {
  data() {
    return {
      fileRecords: [],
      fileRecordsForUpload: [],
    };
  },
  methods: {
    filesSelected: function (fileRecordsNewlySelected) {
      var validFileRecords = fileRecordsNewlySelected.filter(
        (fileRecord) => !fileRecord.error
      );
      this.fileRecordsForUpload =
        this.fileRecordsForUpload.concat(validFileRecords);
    },
    fileDeleted: function (fileRecord) {
      console.log(fileRecord);
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      } else {
        this.deleteUploadedFile(fileRecord);
      }
    },
    onBeforeDelete: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        // queued file, not yet uploaded. Just remove from the arrays
        this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
        if (k !== -1) this.fileRecords.splice(k, 1);
      } else {
        if (confirm("Are you sure you want to delete?")) {
          this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
        }
      }
    },
    deleteUploadedFile: function (fileRecord) {
      // Using the default uploader. You may use another uploader instead.
      this.$refs.vueFileAgent.deleteUpload(
        this.uploadUrl,
        this.uploadHeaders,
        fileRecord
      );
    },
  },
  watch: {
    fileRecordsForUpload(n) {
      let files = [];
      n.forEach((fileRecord) => {
        console.log(fileRecord);
        files.push({
          file: fileRecord.urlResized,
          name: fileRecord.file.name,
        });
      });
      this.$emit("input", files);
    },
  },
};
</script>
