<template>
  <div style="position: relative">
    <gmap-map
      :center="center"
      :zoom="12"
      map-type-id="terrain"
      style="width: 100%; height: 600px"
    >
      <gmap-cluster :zoomOnClick="true">
        <gmap-marker
          v-for="m in places"
          :position="m.position"
          :key="m.id"
          :clickable="true"
          :draggable="true"
          @click="markerClicked(m)"
        >
        </gmap-marker>
      </gmap-cluster>
      <gmap-info-window
        @closeclick="activePlace = null"
        :position="activePlace.position"
        :opened="true"
        v-if="activePlace"
      >
        <!-- <div>
          <h3>{{ activePlace.position.lat }}</h3>
          <p>{{ activePlace.position.lng }}</p>
        </div> -->
        <div class="leaflet-popup-content-wrapper">
          <div class="leaflet-popup-content" style="width: 401px">
            <!-- {{ activePlace }} -->
            <a
              target="__blank"
              class="classiera_map_div"
              :href="'/ad/' + activePlace.slug"
              tabindex="0"
              ><img
                v-if="activePlace.images[0]"
                class="classiera_map_div__img"
                :src="'/images_small/' + activePlace.images[0].full"
                alt="images"
              />
              <div class="classiera_map_div__body">
                <p class="classiera_map_div__price">
                  Price : <span>Rs.{{ formatNumber(activePlace.price) }}</span>
                </p>
                <h5 class="classiera_map_div__heading">
                  {{ activePlace.name }}
                </h5>
                <p class="classiera_map_div__cat" v-if="activePlace.categories">
                  Category :<span v-if="activePlace.categories[0]">
                    {{ activePlace.categories[0].name }}</span
                  ><span v-if="activePlace.categories[1]"
                    >/ {{ activePlace.categories[1].name }}</span
                  >
                </p>
              </div></a
            >
          </div>
        </div>
      </gmap-info-window>
    </gmap-map>
    <div class="map-search-form">
      <gmap-autocomplete class="introInput" @place_changed="placeChanged">
      </gmap-autocomplete>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import util from "./util";
import GmapCluster from "gmap-vue/dist/components/cluster";
export default {
  components: { GmapCluster },
  data() {
    return {
      center: { lat: 27.7353111, lng: 85.3058395 },
      opened: false,
      places: null,
      activePlace: null,
    };
  },
  mounted() {
    this.makeRequest();
  },
  methods: {
    formatNumber(n) {
      return util.formatNumber(n);
    },
    closeclick() {
      console.log(arguments);
    },
    markerClicked(m) {
      this.activePlace = m;
      //   this.center = m.position;
      this.opened = true;
    },
    placeChanged(a) {
      console.log(a.geometry.location);
      this.center.lat = a.geometry.location.lat();
      this.center.lng = a.geometry.location.lng();
      this.makeRequest();
    },
    makeRequest() {
      axios({
        url: "/filter-products-based-on-location",
        params: this.center,
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.places = resp.data.data.data.map((item) => {
              return {
                position: {
                  lat: parseFloat(item.latitude),
                  lng: parseFloat(item.longitude),
                },
                label: "Hi there",
                ...item,
              };
            });
          }
          this.center = this.places[0].position;
          console.log(resp);
        })
        .catch();
    },
  },
};
</script>
<style>
.map-search-form {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20%;
}

.map-search-form > .introInput {
  width: 100% !important;
  padding: 10px;
}
.cluster span {
  color: white;
  font-size: 20px;
  top: 5px;
  position: absolute;
  left: 22px;
}
</style>
