<template>
  <div class="row" style="background-color: #39444c; padding: 10px">
    <div class="col-md-3">
      <div class="input-group" style="background-color: white">
        <span
          class="input-group-addon"
          style="background-color: white; border: 0px; color: black"
          ><i style="color: black !important" class="fa fa-align-justify"></i
        ></span>
        <v-select
          :options="categories"
          v-if="categories"
          v-model="search.category_id"
          :reduce="(c) => c.id"
          :key="'_cat'"
          placeholder="Select Category"
          label="name"
        >
        </v-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group" style="background-color: white">
        <span
          class="input-group-addon"
          style="background-color: white; border: 0px; color: black"
          ><i style="color: black !important" class="fa fa-map-marker-alt"></i
        ></span>
        <gmap-autocomplete
          @place_changed="placeChanged"
          class="introInput form-control"
          style="height: 40px"
          :value="search.post_location"
        >
        </gmap-autocomplete>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group" style="background-color: white">
        <span
          class="input-group-addon"
          style="background-color: white; border: 0px; color: black"
          ><i style="color: black !important" class="fa fa-building"></i
        ></span>
        <!--
        <v-select
          label="name"
          :filterable="true"
          :noDrop="true"
          :options="options"
          @search="onSearch"
          style="background-color: white"
          placeholder="Search By Job name/keyword"
          @input="showAdPage"
          :clearSearchOnBlur="() => false"
          v-model="search.searchText"
        >
           <template slot="no-options"> Type to search Products.. </template>
          <template #option="{ name, image, price }">
            <div class="row">
              <div class="col-md-3">
                <img
                  :src="'/images_small/' + image"
                  class="img img-responsive"
                />
              </div>
              <div class="col-md-9" style="color: black">
                <span
                  style="
                    word-break: break-all;
                    overflow: hidden;
                    display: block;
                  "
                >
                  {{ name }}
                </span>
                <i>Price:</i>Rs. {{ formatNumber(price) }}
              </div>
            </div>
          </template>
          <template #selected-option="{ name }">
            <div class="selected d-center">
              {{ name }}
            </div>
          </template>
          <template #list-footer v-if="search.searchText">
            <li
              style="text-align: center; cursor: pointer; font-weight: bold"
              @click="searchJobs"
            >
              View All Products related to {{ search.searchText }}
            </li>
          </template>
        </v-select>
        -->
        <input
          type="text"
          class="form-control"
          placeholder="Search By Job Name/Keyword"
          style="height: 40px"
          v-model="search.title"
        />
      </div>
    </div>
    <div class="col-md-2 col-sm-12">
      <input
        type="button"
        class="btn btn-primary btn-submit btn-block"
        style="background-color: #419a96; padding: 10px"
        value="Search"
        @click="searchJobs"
      />
    </div>
  </div>
</template>
<script>
import util from "./util";
import axios from "axios";
var parse = require("url-parse");
export default {
  data() {
    return {
      categories: null,
      search: {
        category_id: null,
        title: null,
      },
      options: [],
    };
  },
  mounted() {
    let url = parse(window.location.href, true);
    this.search = {
      ...util.formatObject(this.search),
      ...util.formatObject(url.query),
    };
    this.getCategories();
  },
  methods: {
    showAdPage(item) {
      //   console.log(arguments);
      window.location.href = "/ad/" + item.slug;
    },
    placeChanged(p) {
      this.selectedPlace = p;
      this.search.lng = p.geometry.location.lng();
      this.search.lat = p.geometry.location.lat();
      this.search.post_location = p.formatted_address;
      console.log(p);
    },
    searchJobs() {
      window.location.href =
        "/search-job?" + new URLSearchParams(this.search).toString();
    },
    formatNumber(n) {
      return util.formatNumber(n);
    },
    onSearch(search, loading) {
      if (search.length) {
        this.search.searchText = search;
        loading(true);
        this.doSearch(loading, search, this);
      }
    },
    // doSearch: _.debounce((loading, search, vm) => {
    //   axios({
    //     url: "/search-products-for-drop-down",
    //     params: { query: search, ...vm.search },
    //   })
    //     .then((resp) => {
    //       if (resp.data.status == 1) {
    //         vm.options = resp.data.data.data;
    //       }
    //     })
    //     .catch(() => {})
    //     .finally(() => {
    //       loading(false);
    //     });
    // }, 1000),
    // removeSpace(str) {
    //   return str.replaceAll("&nbsp;", "");
    // },
    getCategories() {
      axios({
        url: "/get-meta-data-for-navbar-job-search",
      }).then((resp) => {
        if (resp.data.status == 1) {
          this.categories = resp.data.data.categories;
        }
      });
    },
  },
  computed: {},
};
</script>
<style>
.vs__selected-options > input {
  height: 20px !important;
}
.vs__dropdown-toggle {
  height: 40px !important;
}
.vs__actions > button {
  border: 0px !important;
  width: 5px !important;
  padding: 0px !important;
}
.vs__actions button:hover {
  background-color: white !important;
}
</style>
