<template>
  <div class="row" style="background-color: #39444c; padding: 10px">
    <div class="col-md-3">
      <div class="input-group" style="background-color: white">
        <span
          class="input-group-addon"
          style="background-color: white; border: 0px; color: black"
          ><i style="color: black !important" class="fa fa-align-justify"></i
        ></span>
        <v-select
          :options="getCat"
          v-if="categories"
          v-model="search.category_id"
          :reduce="(c) => c.value"
          :key="'_cat'"
          placeholder="Select Category"
        >
          <template v-slot:option="option">
            <span v-html="option.label"></span>
          </template>

          <template #selected-option="option">
            <p>{{ removeSpace(option.label) }}</p>
          </template>
        </v-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group" style="background-color: white">
        <span
          class="input-group-addon"
          style="background-color: white; border: 0px; color: black"
          ><i style="color: black !important" class="fa fa-map-marker-alt"></i
        ></span>
        <gmap-autocomplete
          @place_changed="placeChanged"
          class="introInput form-control"
          style="height: 40px"
          :value="search.location"
        >
        </gmap-autocomplete>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group auto" style="background-color: white">
        <span
          class="input-group-addon"
          style="background-color: white; border: 0px; color: black"
          ><i style="color: black !important" class="fa fa-building"></i
        ></span>
        <v-select
          label="name"
          :filterable="false"
          :options="options"
          @search="onSearch"
          style="background-color: white"
          placeholder="Search By Product name/description"
          @input="showAdPage"
          :clearSearchOnBlur="() => false"
          v-model.trim="search.searchText"
        >
          <template slot="no-options"> Type to search Products.. </template>
          <template #option="{ name, image, price }">
            <div class="row single-row">
              <div class="col-xs-3">
                <img
                  :src="'/images_small/' + image"
                  class="img img-responsive"
                />
              </div>
              <div class="col-xs-9" style="color: black">
                <span
                  style="
                    word-break: break-all;
                    overflow: hidden;
                    display: block;
                  "
                >
                  {{ name }}
                </span>
                <i>Price:</i>Rs. {{ formatNumber(price) }}
              </div>
            </div>
          </template>
          <template #selected-option="{ name }">
            <div class="selected single-row d-center">
              {{ name }}
            </div>
          </template>
          <template #list-footer v-if="search.searchText">
            <li
              style="text-align: center; cursor: pointer; font-weight: bold"
              @click="searchProducts"
            >
              View All Products related to {{ search.searchText }}
            </li>
          </template>
        </v-select>
      </div>
    </div>
    <div class="col-md-2 col-sm-12">
      <input
        type="button"
        class="btn btn-primary btn-submit btn-block"
        style="background-color: #419a96; padding: 10px"
        value="Search"
        @click="searchProducts"
      />
    </div>
  </div>
</template>
<script>
import util from "./util";
import axios from "axios";
var parse = require("url-parse");
export default {
  data() {
    return {
      categories: null,
      search: {
        category_id: null,
        searchText: null,
      },
      options: [],
    };
  },
  mounted() {
    let url = parse(window.location.href, true);
    this.search = {
      ...util.formatObject(this.search),
      ...util.formatObject(url.query),
    };
    this.getCategories();
  },
  methods: {
    showAdPage(item) {
      //   console.log(arguments);
      window.location.href = "/ad/" + item.slug;
    },
    placeChanged(p) {
      this.selectedPlace = p;
      this.search.lng = p.geometry.location.lng();
      this.search.lat = p.geometry.location.lat();
      this.search.location = p.formatted_address;
      console.log(p);
    },
    searchProducts() {
      window.location.href =
        "/search-product?" + new URLSearchParams(this.search).toString();
    },
    formatNumber(n) {
      return util.formatNumber(n);
    },
    onSearch(search, loading) {
      if (search.length) {
        this.search.searchText = search;
        loading(true);
        this.doSearch(loading, search, this);
      }
    },
    doSearch: _.debounce((loading, search, vm) => {
      axios({
        url: "/search-products-for-drop-down",
        params: { query: search, ...vm.search },
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            vm.options = resp.data.data.data;
          }
        })
        .catch(() => {})
        .finally(() => {
          loading(false);
        });
    }, 1000),
    removeSpace(str) {
      return str.replaceAll("&nbsp;", "");
    },
    getCategories() {
      axios({
        url: "/categories-for-search",
      }).then((resp) => {
        if (resp.data.status == 1) {
          this.categories = resp.data.data.categories;
        }
      });
    },
  },
  computed: {
    getCat() {
      let arr = [];
      this.categories.forEach((cat) => {
        arr.push({ label: cat.name, value: cat.id });
        if (
          cat.children &&
          Array.isArray(cat.children) &&
          cat.children.length > 0
        ) {
          cat.children.forEach((chi) => {
            arr.push({ label: "&nbsp;&nbsp;&nbsp;" + chi.name, value: chi.id });
          });
        }
      });

      return arr;
    },
  },
};
</script>
<style>
.vs__selected-options > input {
  height: 20px !important;
}
.vs__dropdown-toggle {
  height: 40px !important;
}
.vs__actions > button {
  border: 0px !important;
  width: 5px !important;
  padding: 0px !important;
}
.vs__actions button:hover {
  background-color: white !important;
}
.single-row {
  background-color: white;
}
.single-row:hover {
  background-color: aliceblue;
  border: 0px solid rgb(247, 10, 10) !important;
}
.auto .vs__dropdown-option--highlight {
  background: #cddcf3;
  color: #fff;
}
</style>
