<template>
  <div>
    <div id="load" class="row">
      <template v-for="(value, index) in products.data">
        <div
          class="col-lg-4 col-md-4 col-sm-6 match-height item"
          :class="
            viewType == 'list'
              ? 'item-list'
              : viewType == 'grid'
              ? 'item-grid'
              : 'item-grid-medium'
          "
          :key="value.id + '_asd'"
        >
          <div class="classiera-box-div classiera-box-div-v5">
            <figure class="clearfix">
              <div class="premium-img">
                <div class="featured-tag" v-if="value.featured == 1">
                  <span class="left-corner"></span>
                  <span class="right-corner"></span>
                  <div class="featured">
                    <p>Featured</p>
                  </div>
                </div>
                <img
                  v-if="value.images && value.images.length > 0"
                  class="img-responsive"
                  :src="'images_small/' + value.images[0].full"
                  :alt="value.name"
                  style="max-height: 100%"
                />
                <img
                  v-else
                  class="img-responsive"
                  :src="'storage/img/dummy.jpg'"
                  :alt="value.name"
                />
                <span class="hover-posts">
                  <a :href="'ad/' + value.slug">View Ad</a>
                </span>
                <span class="price">
                  PRICE: Rs.{{ formatNumber(value.price) }}</span
                >
                <span class="classiera-buy-sel" v-if="value.adtype">
                  {{ value.adtype.name }}
                </span>
              </div>
              <div class="detail text-center hidden-md">
                <span class="price"> Rs. {{ formatNumber(value.price) }} </span>
                <div class="box-icon">
                  <a
                    :href="'mailto:' + value.user.email"
                    v-if="value.user && value.user.show_email"
                  >
                    <i class="fas fa-envelope"></i>
                  </a>
                  <a
                    :href="'tel:' + value.user.mobile"
                    v-if="value.user && value.user.show_mobile"
                    ><i class="fas fa-phone"></i
                  ></a>
                </div>
                <a
                  :href="'ad/' + value.slug"
                  class="btn btn-primary outline btn-style-five"
                  >View Ad</a
                >
              </div>
              <figcaption>
                <span
                  class="price visible-md btn-adn"
                  style="
                    background: #009996 !important;
                    width: fit-content;
                    padding: 5px;
                  "
                  >Rs.{{ formatNumber(value.price) }}
                </span>
                <h5>
                  <a
                    style="font-size: 15px !important"
                    :href="'ad/' + value.slug"
                    >{{ value.name }}</a
                  >
                </h5>
                <div class="category">
                  <span>
                    Category :
                    <template v-for="cat in value.categories">
                      <a
                        :key="cat.id + 'main'"
                        :href="'category/' + cat.category.slug"
                        :title="'View all posts in ' + cat.category.name"
                        >{{ cat.category.name }}</a
                      >
                      /
                      <a
                        :key="cat.id + 'sec'"
                        :href="'category/' + cat.slug"
                        :title="'View all posts in ' + cat.name"
                        >{{ cat.name }}</a
                      >
                    </template>
                  </span>
                  <span v-if="value.city"
                    >Location :
                    <a
                      :href="'/city/' + value.city.slug"
                      :title="'View all posts in ' + value.city.name"
                      >{{ value.city.name }}</a
                    >
                  </span>
                </div>
                <p v-if="value.desc" class="description">
                  {{ value.desc.substr(0, 340) }}
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-12" v-if="hasHr(index)" :key="index + '_has'" />
      </template>
    </div>
    <!-- <div class="classiera-pagination">
      <nav aria-label="Page navigation">
        <div id="pagination">{!!$products->links()!!}</div>
      </nav>
    </div> -->
  </div>
</template>
<script>
import util from "./util";
import Pagination from "vue-pagination-2";
export default {
  components: { Pagination },
  props: {
    products: Object,
    viewType: {
      type: String,
      default: "list",
    },
  },
  mounted() {},
  methods: {
    hasHr(n) {
      if (this.$props.viewType == "grid") {
      }
      return (n + 1) % (this.$props.viewType == "grid" ? 3 : 4) == 0;
    },
    formatNumber(n) {
      return util.formatNumber(n);
    },
  },
};
</script>
