<template>
  <div>
    <div id="load" class="row">
      <template v-for="(job, index) in jobs.data">
        <div
          class="col-lg-4 col-md-4 col-sm-6 match-height item"
          :class="viewType == 'list' ? 'item-list' : 'item-grid'"
          :key="job.id + '_job'"
        >
          <div class="classiera-box-div classiera-box-div-v5">
            <figure class="clearfix">
              <div class="premium-img">
                <div class="featured-tag" v-if="job.jobtype.id != 1">
                  <span class="left-corner"></span>
                  <span class="right-corner"></span>
                  <div class="featured">
                    <p>{{ job.jobtype.name }}</p>
                  </div>
                </div>
                <img
                  v-if="job.user && job.user.firmuser && job.user.firmuser.logo"
                  class="img-responsive"
                  :src="'/storage/' + job.user.firmuser.logo"
                  :alt="job.name"
                  style="max-height: 100%"
                />
                <img
                  v-else
                  class="img-responsive"
                  :src="'/storage/error-image.png'"
                  :alt="job.name"
                />
                <span class="hover-posts">
                  <a :href="'jobs/' + job.slug">View Job</a>
                </span>
                <span class="price">
                  <template v-if="job.salary">
                    NRs.{{ formatNumber(job.salary) }}
                  </template>
                  <template v-if="job.salary_to">
                    - {{ formatNumber(job.salary_to) }}
                  </template>
                  <template v-if="job.salarytype">
                    {{ job.salarytype.name }}
                  </template>
                </span>
                <!-- <span class="classiera-buy-sel" v-if="value.adtype">
                {{ value.adtype.name }}
              </span> -->
              </div>
              <div class="detail text-center">
                <span class="price">
                  <template v-if="job.salary">
                    NRs.{{ formatNumber(job.salary) }}
                  </template>
                  <template v-if="job.salary_to">
                    - {{ formatNumber(job.salary_to) }}
                  </template>
                  <template v-if="job.salarytype">
                    {{ job.salarytype.name }}
                  </template>
                </span>
                <div class="box-icon">
                  <a
                    :href="'mailto:' + job.user.firmuser.email"
                    v-if="
                      job.user &&
                      job.user.firmuser &&
                      job.user.firmuser.show_email
                    "
                  >
                    <i class="fas fa-envelope"></i>
                  </a>
                  <a
                    :href="'tel:' + job.user.phone"
                    v-if="
                      job.user &&
                      job.user.firmuser &&
                      job.user.firmuser.show_phone
                    "
                    ><i class="fas fa-phone"></i
                  ></a>
                </div>
                <a
                  :href="'/jobs/' + job.slug"
                  class="btn btn-primary outline btn-style-five"
                  >View Job</a
                >
              </div>
              <figcaption>
                <span class="price visible-xs">
                  <template v-if="job.salary">
                    NRs.{{ formatNumber(job.salary) }}
                  </template>
                  <template v-if="job.salary_to">
                    - {{ formatNumber(job.salary_to) }}
                  </template>
                  <template v-if="job.salarytype">
                    {{ job.salarytype.name }}
                  </template>
                </span>
                <h5>
                  <a :href="'jobs/' + job.slug">{{ job.name }}</a>
                </h5>
                <div class="category">
                  <span>
                    Category :
                    <a
                      :key="job.id + 'main'"
                      :href="'/jobs/category/' + job.category.slug"
                      :title="'View all posts in ' + job.category.name"
                      >{{ job.category.name }}</a
                    >
                  </span>
                  <span v-if="job.city"
                    >Location :
                    <a
                      :href="'/jobs/city/' + job.city.slug"
                      :title="'View all posts in ' + job.city.name"
                      >{{ job.city.name }}</a
                    >
                  </span>
                </div>
                <p v-if="job.body" class="description">
                  {{ job.body.substr(0, 340) }}
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-12" v-if="hasHr(index)" :key="'sp' + index" />
      </template>
    </div>
    <!-- <div class="classiera-pagination">
      <nav aria-label="Page navigation">
        <div id="pagination">{!!$products->links()!!}</div>
      </nav>
    </div> -->
  </div>
</template>
<script>
import util from "./util";
import Pagination from "vue-pagination-2";
export default {
  components: { Pagination },
  props: {
    jobs: Object,
    viewType: {
      type: String,
      default: "list",
    },
  },
  mounted() {},
  methods: {
    hasHr(n) {
      return (n + 1) % 3 == 0;
    },
    formatNumber(n) {
      return util.formatNumber(n);
    },
  },
};
</script>
