<template>
  <div>
    <p v-if="!this.single">
      Range:
      {{
        "(" +
        util.formatNumber(currentValue[0]) +
        " - " +
        util.formatNumber(currentValue[1]) +
        ")"
      }}
    </p>
    <p v-else>{{ unit + " : " + util.formatNumber(currentValue) }}</p>
    <div ref="slider"></div>
  </div>
</template>
<script>
import util from "./util";
export default {
  data: function () {
    return {
      util,
      currentValue: 0,
    };
  },
  props: {
    label: {
      type: String,
    },
    code: {
      type: String | Array,
    },
    min: {
      type: Number,
      //   default: 0,
    },
    max: {
      type: Number,
      //   default: 1000,
    },
    single: {
      type: Boolean,
      default: true,
    },
    unit: {
      type: String,
      default: "Count",
    },
    default: {
      type: Number,
    },
  },
  mounted() {
    if (this.$props.single) {
      if (this.$props.default) {
        this.currentValue = this.$props.default;
      } else {
        this.currentValue = this.$props.min;
      }
    } else {
      if (this.$props.default) {
        this.currentValue = this.$props.default;
      } else {
        this.currentValue = [
          !isNaN(this.$props.min) ? +this.$props.min : 0,
          !isNaN(this.$props.max) ? +this.$props.max : 100,
        ];
      }
    }
    let self = this;
    let opt = {
      range: self.$props.single ? false : true,
      min: self.min ? self.min : 0,
      max: self.max ? self.max : 100,
      stop: function (event, ui) {
        if (self.$props.single) {
          self.currentValue = ui.value;
          self.$emit("update:val", ui.value);
          self.$emit("label", {
            ["label"]: self.$props.label + ":" + ui.value,
            code: self.$props.code,
            key: self.$props.label,
          });
        } else {
          self.currentValue = [ui.values[0], ui.values[1]];
          self.$emit("update:minval", ui.values[0]);
          self.$emit("update:maxval", ui.values[1]);
          self.$emit("label", {
            ["label"]:
              self.$props.label + ":" + ui.values[0] + " - " + ui.values[1],
            code: self.$props.code,
            key: self.$props.label,
          });
        }
      },
      slide: function (event, ui) {
        if (self.$props.single) {
          self.currentValue = ui.value;
        } else {
          self.currentValue = [ui.values[0], ui.values[1]];
        }
      },
    };
    if (this.$props.single) {
      opt.value = this.currentValue;
    } else {
      opt.values = this.currentValue;
    }
    jQuery(this.$refs.slider).slider(opt);
  },
  computed: {},
};
</script>
