<template>
    <form method="post" id="primaryPostForm"
                                                        class="form-horizontal">
                                                        <div class="alert alert-info w-50 mx-auto mt-3 text-center" v-if="success_message">
                                                            {{success_message}}
                                                        </div>
                                                        <div class="radio">
                                                            <input id="illegal" v-model="form.reportname_id" value="1"
                                                                type="radio">
                                                            <label for="illegal">This is illegal/fraudulent</label>
                                                            <input id="spam" value="2" type="radio"
                                                                v-model="form.reportname_id">
                                                            <label for="spam">This ad is spam</label>
                                                            <input id="duplicate" value="3" type="radio"
                                                                v-model="form.reportname_id">
                                                            <label for="duplicate">This ad is a duplicate</label>
                                                            <input id="wrong_category" value="4" type="radio"
                                                                v-model="form.reportname_id">
                                                            <label for="wrong_category">This ad is in the wrong
                                                                category</label>
                                                            <input id="post_rules" value="5" type="radio"
                                                                v-model="form.reportname_id">
                                                            <label for="post_rules">The ad goes against posting
                                                                rules</label>
                                                            <input id="post_other" value="6" type="radio"
                                                                v-model="form.reportname_id">
                                                            <label for="post_other">Other</label>
                                                        </div>
                                                        <div class="otherMSG">
                                                            <textarea id="other_report" name="body" class="form-control"
                                                                placeholder="Type here..!"></textarea>
                                                        </div>
                                                        <input type="hidden" name="submit" value="report_to_admin">
                                                        <button
                                                            class="btn btn-primary btn-block btn-sm sharp btn-style-one"
                                                            name="report_ad" value="report_ad"
                                                            type="button" @click="reportStore" :disabled="!form.reportname_id">Report</button>
                                                    </form>
</template>
<script>
import axios from 'axios';
export default {
    props: ['product', 'user_id','full_url'],
    data(){
        return {
            form:{
                product_id: this.$props.product.id,
                auth_id: this.$props.user_id,
                user_id: this.$props.product.user_id,
                url: this.$props.full_url,
                reportname_id: null,
            },
            success_message:null
        }
    },
    methods: {
        reportStore(){
            this.success_message = null;
            axios.post('/report-store', this.form).then(
                response => {
                    if(response.data.status=="1"){
                        this.success_message = response.data.message;
                    }
                }
            ).catch();
        }
    }
}
</script>
