<template>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <advance-job-search v-model="search" @performSearch="performSearch" />
    </div>
    <div class="col-lg-9 col-md-8">
      <section
        class="
          classiera-advertisement
          advertisement-v5
          section-pad-80
          border-bottom
        "
      >
        <div class="tab-divs">
          <div class="view-head">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-7 col-xs-8">
                  <div class="total-post" v-if="jobs">
                    <select class="form-control" v-model="extra.sort">
                      <option value="lowest_salary">
                        Sort by Lowest Salary
                      </option>
                      <option value="highest_salary">
                        Sort by Highest Salary
                      </option>
                      <option value="most_recent_jobs">
                        Sort by Most Recent Job
                      </option>
                      <option value="oldest_jobs">Sort by Oldest Job</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-5 col-xs-4">
                  <!-- <div class="view-as text-right flip">
                    <a id="grid" class="grid" href="#"
                      ><i class="fas fa-th"></i
                    ></a>
                    <a id="list" class="list active" href="#"
                      ><i class="fas fa-th-list"></i
                    ></a>
                  </div> -->
                  <div class="view-as text-right flip">
                    <button
                      id="grids"
                      class="btn btn-sm grids active"
                      @click="viewType = 'grid'"
                      :class="viewType !== 'grid' ? 'bg-white' : ''"
                    >
                      <i class="fas fa-th"></i>
                    </button>
                    <button
                      id="lists"
                      class="btn btn-sm lists active"
                      @click="viewType = 'list'"
                      :class="viewType !== 'list' ? 'bg-white' : ''"
                    >
                      <i class="fas fa-th-list"></i>
                    </button>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12" v-if="jobs">
                  <i style="font-style: italic">
                    {{ jobs.total }} Ads Founded :
                    <span> Related to your search </span>
                  </i>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="all">
              <div class="container" id="table_data">
                <!-- @include('site.pagination') -->
                <paginated-jobs :jobs="jobs" v-if="jobs" :viewType="viewType" />
                <pagination
                  v-if="jobs"
                  :per-page="jobs.per_page"
                  v-model="page"
                  :records="jobs.total"
                  @paginate="paginate"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Pagination from "vue-pagination-2";
export default {
  components: { Pagination },
  data() {
    return {
      viewType: "list",
      search: null,
      jobs: null,
      page: 1,
      extra: {
        sort: "most_recent_jobs",
      },
    };
  },
  mounted() {
    this.searchJobs();
  },
  methods: {
    performSearch() {
      this.searchJobs();
    },
    paginate(p) {
      this.search.page = p;
      this.searchJobs();
    },
    searchJobs() {
      axios({
        url: "/filter-jobs-based-on-criteria",
        params: { ...this.search, ...this.extra },
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.jobs = resp.data.data;
          }
        })
        .catch();
    },
  },
  watch: {
    search: {
      deep: true,
      handler() {
        this.searchJobs();
      },
    },
    "extra.sort": function () {
      this.searchJobs();
    },
  },
};
</script>
