<template>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <advance-search @performSearch="performSearch" v-model="search" />
    </div>
    <div class="col-lg-9 col-md-8">
      <section
        class="
          classiera-advertisement
          advertisement-v5
          section-pad-80
          border-bottom
        "
      >
        <div class="tab-divs">
          <div class="view-head">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-7 col-xs-7">
                  <div class="total-post" v-if="products">
                    <select class="form-control" v-model="extra.sort">
                      <option value="lowest_price">Sort by Lowest Price</option>
                      <option value="highest_price">
                        Sort by Highest Price
                      </option>
                      <option value="most_recent_items">
                        Sort by Most Recent Items
                      </option>
                      <option value="oldest_items">Sort by Oldest Items</option>
                      <option value="popular_items">
                        Sort by Popular Items
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-5 col-xs-5">
                  <!-- <div class="view-as text-right flip">
                    <a id="grids" href="#" class="grid active"
                      ><i class="fas fa-th"></i
                    ></a>
                    <a id="lists" href="#" class="list"
                      ><i class="fas fa-th-list"></i
                    ></a>
                  </div> -->
                  <div class="view-as text-right flip">
                    <button
                      id="lists"
                      class="btn btn-sm lists active"
                      @click="viewType = 'grid'"
                      :class="viewType !== 'grid' ? 'bg-white' : ''"
                    >
                      <i class="fas fa-th-large"></i>
                    </button>
                    <button
                      id="grids"
                      class="btn btn-sm grids active"
                      @click="viewType = 'grid-medium'"
                      :class="viewType !== 'grid-medium' ? 'bg-white' : ''"
                    >
                      <i class="fas fa-th"></i>
                    </button>
                    <button
                      id="lists"
                      class="btn btn-sm lists"
                      @click="viewType = 'list'"
                      :class="viewType !== 'list' ? 'bg-white' : ''"
                    >
                      <i class="fas fa-th-list"></i>
                    </button>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                  <template v-for="tag in $store.getters.doneTodos">
                    <span
                      v-if="tag"
                      style="margin-right: 3px"
                      class="badge badge-info"
                      :key="tag.label + '_tags'"
                      >{{ stripSpace(tag.label) }}
                      <!-- <i
                        v-if="!Array.isArray(tag.code)"
                        class="fa fa-times"
                        style="color: white; cursor: pointer"
                        @click="removeFilter(tag)"
                      ></i> -->
                    </span>
                  </template>
                </div>
                <div class="col-lg-12" v-if="products">
                  <i style="font-style: italic">
                    {{ products.total }} Ads Founded :
                    <span> Related to your search </span>
                  </i>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="all">
              <div class="container" id="table_data">
                <!-- @include('site.pagination') -->
                <paginated-products
                  :viewType="viewType"
                  :products="products"
                  v-if="products"
                />
                <pagination
                  v-if="products"
                  :per-page="products.per_page"
                  v-model="page"
                  :records="products.total"
                  @paginate="paginate"
                  :edgeNavigation="true"
                  :options="{ chunk: 5, edgeNavigation: true }"
                  :chunksNavigation="'scroll'"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Pagination from "vue-pagination-2";
export default {
  components: { Pagination },
  data() {
    return {
      viewType: "list",
      products: null,
      page: 1,
      extra: { sort: "most_recent_items" },
      search: {},
    };
  },
  mounted() {
    // this.searchProducts();
    // this.getTicks();
  },
  methods: {
    stripSpace(txt) {
      return txt.replaceAll("&nbsp;", "");
    },
    removeFilter(obj) {
      if (Array.isArray(obj)) {
      } else {
        this.$store.commit("setProductSearchParameters", { [obj.code]: null });
        // this.$store.commit("removeTinyBadge", obj);
      }
      console.log(obj);
    },

    performSearch() {
      this.searchProducts();
    },
    paginate(p) {
      //   this.search.page = p;
      this.$store.commit("appendProductSearchParameters", { page: p });
      this.searchProducts();
      jQuery("html").animate({ scrollTop: 0 }, "slow");
    },
    searchProducts() {
      axios({
        url: "/filter-products-based-on-criteria",
        params: { ...this.$store.state.productSearchParameters, ...this.extra },
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.products = resp.data.data;
          }
        })
        .catch();
    },
  },
  watch: {
    "extra.sort": function () {
      this.searchProducts();
    },
    "$store.state.productSearchParameters": {
      deep: true,
      handler(n) {
        this.search = n;
        this.searchProducts();
      },
    },
  },
};
</script>
