<template>
  <section class="search-section search-section-v5" style="background: #39444c">
    <div class="container-fluid">
      <div class="row search-form search-form-v5 form-inline">
        <!-- <div class="col-md-12"> -->
        <!-- <form
            data-toggle="validator"
            role="form"
            class="search-form search-form-v5 form-inline"
            method="get"
            novalidate="true"
          > -->
        <div class="form-group" style="background-color: white">
          <div class="input-group inner-addon right-addon">
            <div class="input-group-addon input-group-addon-width-sm">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <v-select
              :options="getCat"
              v-if="categories"
              v-model="search.category_id"
              :reduce="(c) => c.value"
              :key="'_cat'"
              placeholder="Select Category"
            >
              <template v-slot:option="option">
                <span v-html="option.label"></span>
              </template>

              <template #selected-option="option">
                <p>{{ removeSpace(option.label) }}</p>
              </template>
            </v-select>
          </div>
        </div>
        <div class="form-group" style="background-color: white">
          <div class="input-group inner-addon right-addon">
            <div class="input-group-addon input-group-addon-width-sm">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <gmap-autocomplete class="introInput form-control">
            </gmap-autocomplete>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group inner-addon right-addon">
            <div class="input-group-addon input-group-addon-width-sm">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <v-select
              label="name"
              :filterable="false"
              :options="options"
              @search="onSearch"
              style="background-color: white"
            >
              <template slot="no-options"> Type to search Products.. </template>
              <template #option="{ name, image, price }">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      :src="'/images_small/' + image"
                      class="img img-responsive"
                    />
                  </div>
                  <div class="col-md-9" style="color: black">
                    <span
                      style="
                        word-break: break-all;
                        overflow: hidden;
                        display: block;
                      "
                    >
                      {{ name }}
                    </span>
                    <i>Price:</i>Rs. {{ formatNumber(price) }}
                  </div>
                </div>
              </template>
              <template #selected-option="{ name }">
                <div class="selected d-center">
                  {{ name }}
                </div>
              </template>
            </v-select>
          </div>
        </div>

        <div class="form-group clearfix">
          <div class="inner-addon right-addon">
            <i class="form-icon form-icon-size-small fas fa-sort"></i>
            <!-- <select
                  class="form-control form-control-sm"
                  data-placeholder="Select City"
                  name="city_id"
                >
                  <option value="" selected disabled>City Name</option>
                  @foreach(\App\Models\City::all() as $value)
                  @if(Request::get('city_id') == $value->id)
                  <option value="{{$value->id}}" selected>
                    {{$value->name}}
                  </option>
                  @else
                  <option value="{{$value->id}}">{{$value->name}}</option>
                  @endif @endforeach
                </select> -->
          </div>
        </div>

        <div class="form-group">
          <button class="radius" type="submit">Search Now</button>
        </div>
        <!-- </form> -->
        <!-- </div> -->
      </div>
    </div>
  </section>
</template>
<script>
import util from "./util";
import axios from "axios";
export default {
  data() {
    return {
      categories: null,
      search: {
        category_id: null,
      },
      options: [],
    };
  },
  mounted() {
    this.getCategories();
  },
  methods: {
    formatNumber(n) {
      return util.formatNumber(n);
    },
    onSearch(search, loading) {
      console.log(arguments);
      if (search.length) {
        loading(true);
        this.doSearch(loading, search, this);
      }
    },
    doSearch: _.debounce((loading, search, vm) => {
      axios({
        url: "search-products-for-drop-down",
        params: { query: search },
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            vm.options = resp.data.data.data;
          }
        })
        .catch(() => {})
        .finally(() => {
          loading(false);
        });
    }, 1000),
    removeSpace(str) {
      return str.replaceAll("&nbsp;", "");
    },
    getCategories() {
      axios({
        url: "/categories-for-search",
      }).then((resp) => {
        if (resp.data.status == 1) {
          this.categories = resp.data.data.categories;
        }
      });
    },
  },
  computed: {
    getCat() {
      let arr = [];
      this.categories.forEach((cat) => {
        arr.push({ label: cat.name, value: cat.id });
        if (
          cat.children &&
          Array.isArray(cat.children) &&
          cat.children.length > 0
        ) {
          cat.children.forEach((chi) => {
            arr.push({ label: "&nbsp;&nbsp;&nbsp;" + chi.name, value: chi.id });
          });
        }
      });

      return arr;
    },
  },
};
</script>
<style>
.vs__selected-options > input {
  height: 20px !important;
}
.vs__dropdown-toggle {
  height: 40px !important;
}
.vs__actions > button {
  border: 0px !important;
  width: 5px !important;
  padding: 0px !important;
}
.vs__actions button:hover {
  background-color: white !important;
}
</style>
