<template lang="">
    <div>
        <a href @click.prevent="verifyMobile" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#exampleModal">Verify Mobile Number</a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header" style="background-color:#419A96">
                <h3 class="modal-title" id="exampleModalLabel" style="display:inline;color:white">Verify Mobile Number</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="mobile">Mobile Number</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Mobile Number" :value="mobile" disabled>
                </div>
                <div class="form-group">
                   <label for="otp"  v-if="sent">Otp Code has been sent to your mobile. Please Enter the Code </label>
                   <label for="otp"  v-if="!sent">We are sending OTP to your mobile. Please Enter the Code</label>
                    <input type="text" class="form-control" id="otp" placeholder="OTP" v-model="otp"/>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-block btn-md" value="Verify"  @click="verifyMobileOtp" style="background-color:#419A96;color:white"/>
                </div>

            </div>

            </div>
        </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
export default {
  props: {
    mobile: {
      required: true,
    },
  },
  data() {
    return {
      sent: false,
      otp: "",
    };
  },
  methods: {
    verifyMobile() {
      axios({
        url: "/verify-mobile-number",
        method: "POST",
      })
        .then((resp) => {
          if (resp.data.status == 1) {
            this.sent = true;
          } else {
            alert(resp.data.message);
          }
        })
        .catch((e) => {
          if (e.response && e.response.status == 429) {
            alert(
              "An SMS was sent recently. Please wait for some time before requesting again."
            );
          }
        });
    },
    verifyMobileOtp() {
      if (otp) {
        axios({
          url: "verify-mobile-otp",
          method: "POST",
          data: {
            otp: this.otp,
          },
        })
          .then((resp) => {
            if (resp.data.status == 1) {
              window.location.href =
                "/profile?mosm='Mobile Number Verified Successfully.'";
            } else {
              alert(resp.data.message);
            }
          })
          .catch();
      }
    },
  },
};
</script>
